<template>
    <v-layout column wrap align-center justify-center>
        <v-flex  >
            <router-link
                    :to="{name: 'signup', query: {previous: previous}}"
                    v-if="signup"
            >
                <v-btn class="yellow accent-2"
                       large
                       flat
                >
                    <v-icon>person_add</v-icon>
                    <span>Signup</span>
                </v-btn>
            </router-link>
            <router-link
                    :to="{name: 'login', query: {previous: previous}}"
                    v-if="login"
            >
                <v-btn class="indigo accent-4 white--text"
                       large
                       flat

                >
                    <v-icon>lock_open</v-icon>
                    <span>Login</span>
                </v-btn>
            </router-link>
            <router-link
                    :to="{name: 'polls', query: {previous: previous}}"
                    v-if="guest"
            >
                <v-btn class="pink accent-3"
                       flat
                       large
                >
                    <v-icon>mdi-ghost</v-icon>
                    <span>Visit</span>
                </v-btn>
            </router-link>
        </v-flex>
    </v-layout>
</template>

<script>
    import store from 'vuex'
    export default {
        props: ['signup', 'login', 'guest', 'previous']
    }
</script>