<template>
    <v-card :dark="!getLighting"
            flat
            class="pa-0 ma-0"
    >
        <v-card-title class="pa-0 ma-0">
            <v-flex xs11 >
                <router-link
                        :to="{name:'user', params: {username: comment.owner.username, userid: comment.owner.id}}"
                >
                    <v-flex v-if="comment.owner.media_url">
                        <v-avatar size="28px" class="elevation-0">
                            <img :src="comment.owner.media_url">
                        </v-avatar>
                        <span class="body-1">
                                {{ comment.owner.username }}
                                </span>
                        <span class="caption blue-grey--text text--lighten-2">
                            {{ comment.created | moment("from","now") }}
                        </span>
                    </v-flex>
                    <v-flex v-else>
                        <v-avatar :class="badgeColor(comment.owner.username) + ' ' +
                                String('elevation-0')"
                                  size="28px">
                                    <span
                                            class="subheading white--text"
                                    >{{
                                        comment.owner.username.slice(0, 1).toUpperCase()
                                        }}
                                    </span>
                        </v-avatar>
                        <span class="body-1">
                                {{ comment.owner.username }}
                        </span>
                        <span class="caption blue-grey--text text--lighten-2">
                            {{ comment.created | moment("from","now") }}
                        </span>
                    </v-flex>
                </router-link>
                <v-icon :dark="!getLighting">fa-commenting-o</v-icon>
                <span v-if="!getLighting"
                        class="body-1 blue-grey--text text--lighten-3">
                    {{ comment.text }}
                </span>
                <span v-else
                      class="body-1 blue-grey--text text--darken-3"
                >
                    {{ comment.text }}
                </span>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs1 class="pt-0 pb-0 mt-0 mb-0">
                <v-menu>
                    <v-btn icon slot="activator" :dark="!getLighting">
                        <v-icon>more_horiz</v-icon>
                    </v-btn>
                    <v-list>
                        <v-list-tile v-if="isOwner"
                                     @click.native="editComment"
                        >
                            <v-list-tile-title class="body-1">
                                <v-icon class="primary--text">edit</v-icon>
                                Edit
                            </v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile v-if="isOwner"
                                     @click.native="deleteComment"
                        >
                            <v-list-tile-title class="body-1">
                                <v-icon class="error--text">delete</v-icon>
                                Delete
                            </v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile v-if="!isOwner"
                                     @click.native="reportComment"
                        >
                            <v-list-tile-title class="body-1">
                                <v-icon class="warning--text">
                                    sentiment_very_dissatisfied
                                </v-icon>
                                Report
                            </v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-flex>
        </v-card-title>
    </v-card>
</template>

<script>
    import hashMod from 'hash-mod'
    import {hashName} from "../colors"
    import { mapGetters } from 'vuex'


    export default {
        props: {
            comment: {
                type: Object,
                required: true
            },
            isOwner: {
                type: Boolean,
                required: false,
                default: false
            },
            index: {
                type: Number,
                required: false,
                default: 0
            },
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLoading',
                'getLighting',
                'getUserProfile',
            ]),
        },
        methods: {
            deleteComment() {
                this.$emit('delete')
            },
            reportComment() {
                this.$emit('report')
            },
            editComment() {
                this.$emit('edit')
            },
            badgeColor(name) {
                return `${hashName(name)} ${String("elevation-0")}`
            },
        },
        data() {
            return {
                fab: false
            }
        }
    }
</script>