<template>
    <v-container fluid>
        <v-layout row wrap>
            <v-flex class="mb-2" xs12 md8 lg6 offset-md2 offset-lg3>
                <v-toolbar  prominent :dark="!getLighting" class="elevation-1">
                    <v-flex xs6>
                        <v-select
                                :items="getCommunityTags"
                                v-model="searchTags"
                                label="Search tags"
                                autocomplete
                                multiple
                                prepend-icon="search"
                                single-line
                                chips
                                @input="changeRoute"
                                clearable
                                :dark="!getLighting"
                        >
                            <template slot="selection"
                                      slot-scope="data">
                                <v-chip
                                        @input="data.parent.selectItem(data.item)"
                                        class="chip--select-multi blue-grey"
                                        :selected="data.selected"
                                        :disabled="data.disabled"
                                        :key="JSON.stringify(data.item)"
                                        outline
                                        close
                                >
                                <span
                                        class="body-2">{{
                                    data.item }}
                                        </span>
                                </v-chip>
                            </template>
                        </v-select>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex xs1>
                        <span class="subheading">Sort by:</span>
                    </v-flex>
                    <v-flex xs3>
                        <v-radio-group v-model="sortType"
                                       @change="changeRoute" class="caption">
                            <v-radio
                                    color="info"
                                    value="created"
                                    :dark="!getLighting"
                            >
                                <span slot="label" >
                                    <v-icon class="mr-2">fa-calendar</v-icon>
                                    Date
                                </span>
                            </v-radio>
                            <v-radio color="info"
                                     value="win_pct"
                                     :dark="!getLighting"
                            >
                                <span slot="label" >
                                    <v-icon class="mr-2">
                                        fa-sort-numeric-desc
                                    </v-icon>
                                    Score
                                </span>
                            </v-radio>
                        </v-radio-group>
                    </v-flex>
                </v-toolbar>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs12>
                <v-card :class="getLighting ? 'white elevation-0 pa-0' :
                'grey darken-1  elevation-0 pa-0'"
                >
                    <v-container fluid grid-list-md>
                        <v-layout row wrap>
                            <template >
                                <v-flex
                                        :xs12="getGridOn"
                                        :sm6="getGridOn"
                                        :lg4="getGridOn"
                                        :xl3="getGridOn"
                                        :sm10="!getGridOn"
                                        :md8="!getGridOn"
                                        :lg6="!getGridOn"
                                        :xl4="!getGridOn"
                                        :offset-sm1="!getGridOn"
                                        :offset-md2="!getGridOn"
                                        :offset-lg3="!getGridOn"
                                        :offset-xl4="!getGridOn"
                                        v-for="(photo, index) in getCommunityPhotos"
                                        v-if="!photo.reports.includes(getUserid)"
                                        :key="photo.id"
                                        :class="getGridOn ? 'mb-0' : 'mb-5'"
                                >
                                    <photo-card
                                            :photo="photo"
                                            :userid="getUserid"
                                            :height="360"
                                            @likeToggled="likePhoto(photo, index)"
                                            @tagClicked="tagClicked"
                                            @deletePhoto="deletePhoto(photo, index)"
                                            :is-owner="photo.profile.username === getUsername"
                                            @photoClicked="$router.push({name: 'photo', params: {id: photo.id,
                                                slug: photo.slug !== '' ? photo.slug : 'untitled'}})"
                                            @likePhoto="likePhotoToggled(photo, index)"
                                            :theme="getLighting ? 'light' : 'dark'"
                                            @reportPhoto="reportPhoto"
                                            :index="index"
                                            :showCommentsOnOpen="showCommentsOnOpen"
                                            :gridOn="getGridOn"
                                    >
                                    </photo-card>
                                </v-flex>
                            </template>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
        <v-container>
            <v-snackbar
                    :timeout="timeout"
                    :color="context"
                    :right="true"
                    v-model="snackbar"
            >
                <span class="body-2">{{ text }}</span>
                <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
            </v-snackbar>
        </v-container>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import store from 'vuex'
    import {mapGetters} from 'vuex'
    import PhotoCard from './PhotoCard.vue'

    const TIMEOUT = 3000

    export default {
        components: {
            PhotoCard
        },
        data() {
            return {
                searchTags: [],
                dialog: false,
                comments: [],
                timeout: TIMEOUT,
                context: 'success',
                snackbar: false,
                text: '',
                sortType: 'win_pct',
                light: null,
                gridOn: true,
                showCommentsOnOpen: false,
                toggleContain: 0
            }
        },
        created() {
            this.gridOn = this.getGridOn
            this.light = this.getLighting
            this.sortType = this.$route.query['sortType']
            if (typeof(this.$route.query['tags']) === 'string') {
                this.searchTags.push(this.$route.query['tags'])
            } else {
                for (const tag in this.$route.query['tags']) {
                    this.searchTags.push(tag)
                }
            }
            this.search()
        },
        beforeRouteUpdate(to, from, next) {
            this.searchTags = []
            if (typeof(to.query['tags']) === 'string') {
                this.searchTags.push(to.query['tags'])
            } else {
                for (const tag of to.query['tags']) {
                    this.searchTags.push(tag)
                }
            }
            next()
            this.search()
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getCommunityPhotos',
                'getCommunityTags',
                'getLoading',
                'getLighting',
                'getGridOn'
            ])
        },
        methods: {
            search() {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('searchCommunityTags', {
                    tags: JSON.stringify(this.searchTags),
                    sortType: this.$route.query['sortType']
                }).then(res => {
                    this.$store.commit('SET_COMMUNITY_PHOTOS', res.data)
                    this.$store.commit('STOP_LOADING')
                })
            },
            changeRoute() {
                this.$router.push({
                    name: 'community',
                    query: {
                        tags: this.searchTags.slice(),
                        sortType: this.sortType
                    }
                })
            },
            likePhotoToggled(photo, index) {
                this.$store.dispatch('likePhoto', {
                    id: photo.id
                }).then(res => {
                    this.$store.commit('SET_COMMUNITY_PHOTO_LIKES', {
                        index: index,
                        photo: res.data
                    })
                }).catch(err => {
                    console.log(err)
                })
            },
            deletePhoto(photo) {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('deleteCommunityPhoto', {
                    id: photo.id
                }).then(res => {
                    this.text = 'Photo deleted!'
                    this.context = 'success'
                    this.snackbar = true
                    this.$store.dispatch('getCommunityTags')
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    this.$store.commit('STOP_LOADING')
                    console.log(err)
                })
            },
            tagClicked(tag) {
                if (!this.searchTags.includes(tag.tag)) {
                    this.searchTags.push(tag.tag)
                }
                this.changeRoute()

            },
            toggleGrid() {
                this.$store.commit('TOGGLE_GRID')
            },
            reportPhoto(event) {
                this.$store.commit('START_LOADING')
                const formData = new FormData()
                formData.append('status', parseInt(event.status))
                this.$store.dispatch('reportPhoto', {
                    status: event.status,
                    id: event.photo.id
                }).then(res => {
                    this.text = 'Report submitted. Thank you for your feedback.'
                    this.context = 'success'
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    console.log(err)
                })
            }
        }
    }

</script>

