<template>
    <v-container fluid>
        <v-layout row wrap>
            <v-flex xs12>
                <v-form v-model="valid" ref="form"
                >
                    <v-card :dark="!getLighting">
                        <v-card-title>
                            <span class="display-1">Create Poll</span>
                        </v-card-title>
                        <v-card :dark="!getLighting"
                                :class="getLighting ?
                                        'grey lighten-4 elevation-10' :
                                        'grey darken-3 elevation-10'"
                        >
                            <v-card-title
                                    v-if="!hideTitle"
                                    class="pa-0 mb-0"
                            >
                                <v-layout row>
                                    <v-flex >
                                        <v-btn icon @click="hideTitle=true"
                                               class="mb-3"
                                        >
                                            <v-icon class="info--text ">
                                                edit
                                            </v-icon>
                                        </v-btn>
                                        <span   @click="hideTitle=true"
                                                class="headline indigo--text text--lighten-2"
                                        >{{ title }}</span>
                                    </v-flex>
                                </v-layout>
                            </v-card-title>
                            <v-card-text v-if="hideTitle"
                            >
                                <v-text-field
                                        @keyup.enter="hideTitle=false"
                                        :rules="titleRules"
                                        label="Poll title"
                                        v-model="title"
                                        prepend-icon="title"
                                        :counter="maxTitleLength"
                                        hint="Hit enter to preview"
                                        :max="maxTitleLength"
                                        autofocus
                                        :dark="!getLighting"
                                        clearable
                                        placeholder="A most interesting poll of things"
                                        required
                                ></v-text-field>
                            </v-card-text>
                            <v-card-text v-if="errors.title && (errors.title.length > 0)">
                            <span v-for="error in errors.title"
                                  :key="error"
                                  class="error--text"
                            >{{ error }}
                            </span>
                            </v-card-text>
                            <v-card-media
                                    :src="image"
                                    :class="(!getLighting ? 'black' : 'grey lighten-3') + ' mt-0 mb-0 ml-0 mr-0'"
                                    height="250"
                            >
                                <v-layout row>
                                    <v-flex xs10>
                                        <v-btn @click.native="openFile"
                                               class="primary"
                                               fab
                                        >
                                            <v-icon large>
                                                add_a_photo
                                            </v-icon>
                                        </v-btn>
                                        <input type="file"
                                               style="display:none"
                                               @change="fileHandler"
                                               ref="fileUploadElement"
                                               accept="image/*"
                                        >
                                    </v-flex>
                                </v-layout>
                            </v-card-media>
                            <v-layout row text-xs-center>
                                <v-flex xs12 >
                                    <span class="error--text body-1"
                                          v-if="!rawImgFile"
                                    >
                                        *Image required
                                    </span>
                                </v-flex>
                            </v-layout>
                            <v-card-text>
                                <v-select
                                        :items="tags"
                                        v-model="searchTags"
                                        label="Select or create tags"
                                        autocomplete
                                        multiple
                                        prepend-icon="styles"
                                        single-line
                                        chips
                                        tags
                                >
                                    <template slot="selection"
                                              slot-scope="data">
                                        <v-chip
                                                @input="data.parent.selectItem(data.item)"
                                                class="chip--select-multi blue-grey"
                                                :selected="data.selected"
                                                :disabled="data.disabled"
                                                :key="JSON.stringify(data.item)"
                                                close
                                                outline
                                        >
                                        <span class="subheading"
                                        >
                                            {{ data.item }}
                                        </span>
                                        </v-chip>
                                    </template>
                                </v-select>
                            </v-card-text>
                            <v-card-text
                                    v-if="!hideDescription"
                            >
                                <v-layout row wrap>
                                    <v-flex xs2 >
                                        <v-btn icon
                                               @click="hideDescription=true"
                                               class=" mt-0 "
                                        >
                                            <v-icon class="info--text">
                                                edit
                                            </v-icon>
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs10 @click="hideDescription=true">
                                        <v-icon>fa-quote-left</v-icon>
                                        <span class="subheading">{{
                                            description }}
                                </span>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text v-if="hideDescription">
                                <v-layout row wrap>
                                    <v-flex xs2>
                                        <v-btn icon @click="hideDescription=false">
                                            <v-icon
                                                    class="primary--text"
                                            >
                                                check_circle
                                            </v-icon>
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs10>
                                        <v-text-field
                                                label="Description"
                                                v-model="description"
                                                multi-line
                                                :counter="maxDescriptionLength"
                                                :max="maxDescriptionLength"
                                                auto-grow
                                                prepend-icon=""
                                                :rules="descriptionRules"
                                                :dark="!getLighting"
                                                clearable
                                                rows="2"
                                                hint="Click check button to preview."
                                                placeholder="What is the purpose of your poll?"
                                        >
                                        </v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text v-if="errors.description && (errors.description.length > 0)">
                            <span v-for="error in errors.description"
                                  :key="error"
                                  class="error--text"
                            >{{ error }}
                            </span>
                            </v-card-text>
                        </v-card>
                        <v-card-title class="mb-0 pb-0">
                            <span class="headline">Visibility</span>
                        </v-card-title>
                        <v-card-actions>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-checkbox v-model="isPollPrivate"
                                                :dark="!getLighting"
                                    >
                                        <span slot="label"><v-icon >fa-user-secret</v-icon>
                                                            Private (share with link)</span>
                                    </v-checkbox>
                                </v-flex>
                            </v-layout>

                        </v-card-actions>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn class="primary"
                                   @click.native="createPoll"
                                   :loading="getLoading"
                                   flat
                                   :disabled="!valid || !rawImgFile"
                            >
                                <span>Create</span>
                            </v-btn>
                            <v-btn class="warning"
                                   @click.native="clear"
                                   :dark="!getLighting"
                                   flat
                            >
                                <span>Clear</span>
                            </v-btn>
                            <v-btn class="error"
                                   @click.native="cancel"
                                   :dark="!getLighting"
                                   flat
                            >
                                <span>Cancel</span>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import store from 'vuex'
    import { mapGetters } from 'vuex'
    import { hashName } from "../colors"

    import sha256 from 'js-sha256'
    import axios from 'axios'
    import _ from 'lodash'

    const MAX_TITLE_LENGTH = 45
    const MIN_TITLE_LENGTH = 15
    const MAX_DESCRIPTION_LENGTH = 255
    const MIN_DESCRIPTION_LENGTH = 30
    const PLACEHOLDER = "https://storage.googleapis.com/duopolly/static/img/placeholder_image_1.png"

    export default {
        props: ['tags','errors'],
        components: {

        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLoading',
                'getCommunityTags',
                'getUserCredits',
                'getVotesUnlock',
                'getLighting',
                'getUserProfile'
            ]),
            badgeColor() {
                return `${hashName(this.getUserProfile.username)} ${String("elevation-0")}`
            }
        },
        created() {
            this.$store.dispatch('getCommunityTags')
            this.items = this.getCommunityTags
        },
        data() {
            return {
                today: null,
                searchUrl: '',
                searchTags: [],
                items: [],
                title: '',
                maxTitleLength: MAX_TITLE_LENGTH,
                description: '',
                maxDescriptionLength: MAX_DESCRIPTION_LENGTH,
                descriptionRules: [
                    (v) => (v.length <= MAX_DESCRIPTION_LENGTH) ||
                        'Description must be less than ${MAX_DESCRIPTION_LENGTH} characters',
                    (v) => (v.length >= MIN_DESCRIPTION_LENGTH) ||
                        `Description must be at least ${MIN_DESCRIPTION_LENGTH} characters.`
                ],
                titleRules: [
                    (v) => (v.length <= MAX_TITLE_LENGTH) ||
                        `Title must be less than ${MAX_TITLE_LENGTH} characters`,
                    (v) => (v.length >= MIN_TITLE_LENGTH) ||
                        `Title must be at least ${MIN_TITLE_LENGTH} characters.`
                ],
                pollType: 'public',
                isPollPrivate: false,
                step: 1,
                image: PLACEHOLDER,
                rawImgFile: null,
                fileType: null,
                fullSize: true,
                hideTitle: true,
                hideDescription: true,
                valid: false
            }
        },
        methods: {
            clear() {
                this.title=''
                this.searchTags=[]
                this.description=''
                this.lastSubmissionDate=null
                this.minUsersThreshold=10
                this.pollType='public'
                this.submissionType='public'
                this.step=1
                this.image = PLACEHOLDER
                this.hideTitle=true
                this.hideDescription=true
                this.isPollPrivate=false
            },
            cancel() {
                this.$emit('cancelled')
                this.clear()

            },
            createPoll() {
                this.$emit('created', {
                    title: this.title,
                    description: this.description,
                    tags: this.searchTags,
                    pollType: this.pollType,
                    photo: this.rawImgFile,
                    isPollPrivate: this.isPollPrivate
                })
                this.clear()
            },
            fileHandler(event) {
                const files = event.target.files
                this.rawImgFile = files[0]
                this.readImageFile(files[0])
                // TODO: Add some validation of file type/size etc.
            },
            openFile() {
                this.$refs.fileUploadElement.click()
            },
            readImageFile(img) {
                const reader = new FileReader()
                reader.onloadend = (e) => {
                    this.image = e.target.result
                }
                reader.readAsDataURL(img)
            }
        },
    }
</script>