<template>
    <v-container fluid>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card :dark="!getLighting">
                    <v-card-title>
                        <span class="display-1">Create Photo Contest</span>
                    </v-card-title>
                    <v-stepper vertical v-model="step">
                        <v-stepper-step :step="1"
                                        edit-icon="check"
                                        :complete="step>1"
                                        editable
                        >
                            <span class="subheading">What is the title?</span>
                        </v-stepper-step>
                        <v-stepper-content :step="1">
                            <v-card-text>
                                <v-text-field
                                        label="Poll title"
                                        v-model="title"
                                        prepend-icon="title"
                                        :counter="maxTitleLength"
                                        hint="Something descriptive and maybe a bit catchy"
                                        :max="maxTitleLength"
                                        autofocus
                                        :dark="!getLighting"
                                        clearable
                                        placeholder="A most interesting poll of things"
                                ></v-text-field>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn @click.native="step=2"
                                       color="info"
                                >Continue
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn class="error"
                                       @click.native="cancel"
                                       :dark="!getLighting"
                                       flat
                                >
                                    <span>Cancel</span>
                                </v-btn>
                            </v-card-actions>
                        </v-stepper-content>
                        <v-stepper-step :step="2"
                                        edit-icon="check"
                                        :complete="step>2"
                                        editable
                        >
                            <span class="subheading">
                                Select or create tags.
                            </span>
                        </v-stepper-step>
                        <v-stepper-content :step="2">
                            <v-select
                                    :items="items"
                                    v-model="searchTags"
                                    label="Select or create tags"
                                    autocomplete
                                    multiple
                                    prepend-icon="styles"
                                    single-line
                                    chips
                                    tags
                            >
                                <template slot="selection"
                                          slot-scope="data">
                                    <v-chip
                                            @input="data.parent.selectItem(data.item)"
                                            class="chip--select-multi blue-grey"
                                            :selected="data.selected"
                                            :disabled="data.disabled"
                                            :key="JSON.stringify(data.item)"
                                            outline
                                            close
                                    >
                                        <span class="body-2 "
                                        >#{{ data.item }}
                                        </span>
                                    </v-chip>
                                </template>
                            </v-select>
                            <v-card-actions>
                                <v-btn @click.native="step=3;randomPhoto()"
                                       color="info"
                                >Continue
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn class="error"
                                       @click.native="cancel"
                                       :dark="!getLighting"
                                       flat
                                >
                                    <span>Cancel</span>
                                </v-btn>
                            </v-card-actions>
                        </v-stepper-content>
                        <v-stepper-step :step="3"
                                        :complete="step>3"
                                        editable
                                        edit-icon="check"
                        >
                            <span class="subheading">Describe your contest.</span>
                        </v-stepper-step>
                        <v-stepper-content :step="3">
                            <v-text-field
                                    label="Description"
                                    v-model="description"
                                    multi-line
                                    :counter="maxDescriptionLength"
                                    :max="maxDescriptionLength"
                                    auto-grow
                                    prepend-icon="edit"
                                    :rules="descriptionRules"
                                    :dark="!getLighting"
                                    clearable
                                    rows="2"
                                    placeholder="What is the purpose of your poll?"
                            >
                            </v-text-field>
                            <v-card-actions>
                                <v-btn @click.native="step=4" color="info"
                                >Continue
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn class="error"
                                       @click.native="cancel"
                                       :dark="!getLighting"
                                       flat
                                >
                                    <span>Cancel</span>
                                </v-btn>
                            </v-card-actions>
                        </v-stepper-content>
                        <v-stepper-step :step="4"
                                        :complete="step>4"
                                        editable
                                        edit-icon="check"
                                        >
                            <span class="subheading">Select final date/time for accepting
                                entries.</span>
                        </v-stepper-step>
                        <v-stepper-content :step="4">
                            <v-layout row wrap>
                                <v-flex>
                                    <v-date-picker :dark="!getLighting"
                                                   v-model="lastSubmissionDate"
                                                   color="success"
                                    ></v-date-picker>
                                </v-flex>
                                <v-flex>
                                    <v-time-picker v-model="lastSubmissionTime"
                                                   :dark="!getLighting"
                                                   color="success"
                                    ></v-time-picker>
                                </v-flex>
                            </v-layout>
                            <v-card-actions>
                                <v-btn @click.native="step=5" color="info"
                                >Continue
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn class="error"
                                       @click.native="cancel"
                                       :dark="!getLighting"
                                       flat
                                >
                                    <span>Cancel</span>
                                </v-btn>
                            </v-card-actions>
                        </v-stepper-content>
                        <v-stepper-step :step="5"
                                        :complete="step>5"
                                        editable
                                        edit-icon="check"
                                        >
                            <span class="subheading">Select end date/time for poll.</span>
                        </v-stepper-step>
                        <v-stepper-content :step="5">
                            <v-layout row wrap>
                                <v-flex >
                                    <v-date-picker :dark="!getLighting"
                                                   v-model="pollCloseDate"
                                                   color="red"
                                    ></v-date-picker>
                                </v-flex>
                                <v-flex>
                                    <v-time-picker :dark="!getLighting"
                                                   color="red"
                                                   v-model="pollCloseTime"
                                    ></v-time-picker>
                                </v-flex>
                            </v-layout>
                            <v-card-actions>
                                <v-btn @click.native="step=6" color="info"
                                >Continue
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn class="error"
                                       @click.native="cancel"
                                       :dark="!getLighting"
                                       flat
                                >
                                    <span>Cancel</span>
                                </v-btn>
                            </v-card-actions>
                        </v-stepper-content>
                        <v-stepper-step :step="6"
                                        :complete="step>6"
                                        editable
                                        edit-icon="check"
                        >
                            <span class="subheading">Choose poll options</span>
                        </v-stepper-step>
                        <v-stepper-content :step="6">
                            <v-card-text>
                                <v-layout row wrap>
                                    <v-flex xs12 >
                                        <v-layout>
                                            <v-flex  >
                                                <v-radio-group v-model="pollType" column>
                                                    <span class="subheading">Visibility option</span>
                                                    <v-radio value="public"
                                                    >
                                                        <span slot="label">
                                                            <v-icon>group</v-icon>
                                                            Any user can participate and see poll results.
                                                        </span>
                                                    </v-radio>
                                                    <v-radio value="private"
                                                    >
                                                        <span slot="label">
                                                            <v-icon>link</v-icon>
                                                            Only users with shared link can participate and see results.
                                                        </span>
                                                    </v-radio>
                                                </v-radio-group>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                                <v-layout row wrap>
                                    <v-flex>
                                        <v-slider v-model="minUsersThreshold"
                                                  thumb-label
                                                  step="1"
                                                  color="primary"
                                                  label="Minimum users"
                                                  :min="2"
                                                  :max="30"
                                                  :dark="!getLighting"
                                                  :hint="`Poll will not start until at least ${minUsersThreshold} users have entered.`"
                                        ></v-slider>
                                    </v-flex>
                                </v-layout>
                                <v-layout row wrap>
                                    <v-flex>
                                        <v-slider v-model="maxUserEntries"
                                                  thumb-label
                                                  step="1"
                                                  color="primary"
                                                  label="Maximum entries"
                                                  min="1"
                                                  max="10"
                                                  :dark="!getLighting"
                                                  :disabled="unlimitedEntries"
                                                  :hint="`A user can enter at most ${maxUserEntries} photos.`"
                                        ></v-slider>
                                    </v-flex>
                                </v-layout>
                                <v-layout row wrap>
                                    <v-flex>
                                        <v-checkbox v-model="unlimitedEntries" value="true">
                                            <span slot="label">Allow unlimited entries?</span>
                                        </v-checkbox>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn @click.native="step=7"
                                       color="info"
                                >Continue
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn class="error"
                                       @click.native="cancel"
                                       :dark="!getLighting"
                                       flat
                                >
                                    <span>Cancel</span>
                                </v-btn>
                            </v-card-actions>
                        </v-stepper-content>
                        <v-stepper-step :step="7"
                                        editable
                                        edit-icon="check"
                        >
                            <span class="subheading">Preview & Submit</span>
                        </v-stepper-step>
                        <v-stepper-content :step="7">
                            <v-card :dark="!getLighting"
                                    :class="getLighting ?
                                        'grey lighten-4 elevation-5' :
                                        'grey darken-3 elevation-5'"
                                    >
                                <v-card-title>
                                    <v-layout row>
                                        <v-flex v-if="getUserProfile.media_url"
                                        >
                                            <v-avatar size="44px" class="elevation-0" >
                                                <img :src="getUserProfile.media_url">
                                            </v-avatar>
                                            <span class="subheading">
                                            {{ getUserProfile.username }}
                                            </span>
                                            <span
                                                    class="caption blue-grey--text text--lighten-2">
                                            started poll {{ new Date() |
                                            moment("from", "now") }}
                                            </span>
                                        </v-flex>
                                        <v-flex v-else>
                                            <v-avatar
                                                    :class="badgeColor"
                                                    size="44px">
                                                <span
                                                        class="headline white--text"
                                                >{{
                                                    getUserProfile.username.slice(0, 1).toUpperCase() }}
                                                </span>
                                            </v-avatar>
                                            <span class="subheading">
                                                {{ getUserProfile.username }}
                                            </span>
                                            <span
                                                    class="caption blue-grey--text text--lighten-2"
                                            > started poll {{ new Date() |
                                                        moment("from", "now") }}
                                            </span>
                                        </v-flex>
                                    </v-layout>
                                </v-card-title>
                                <v-card-title>
                                    <v-btn icon
                                           @click.native="step=1"
                                           color="primary"
                                           small
                                           class="mt-0"
                                    >
                                        <v-icon small>edit</v-icon>
                                    </v-btn>
                                    <span class="display-1">{{ title }}</span>
                                </v-card-title>
                                <v-card-media
                                        :src="searchUrl"
                                        height="500"
                                        contain
                                        class="ma-2"
                                ></v-card-media>
                                <v-card-text>
                                    <v-layout row wrap>
                                        <v-flex xs12 >
                                            <v-btn icon
                                                   @click.native="step=2"
                                                   color="primary"
                                                   small
                                                   class="mt-0"
                                            >
                                                <v-icon small>edit</v-icon>
                                            </v-btn>
                                            <v-icon :dark="!getLighting">style
                                            </v-icon>
                                            <v-chip
                                                    v-for="tag in searchTags"
                                                    :key="tag"
                                                    @click.native="tagClicked(tag)"
                                                    outline
                                                    small
                                            >
                                                <span class="body-1">
                                                    #{{ tag }}
                                                </span>
                                            </v-chip>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                                <v-card-text
                                >
                                    <v-flex xs12 >
                                        <v-btn icon
                                               @click.native="step=3"
                                               color="primary"
                                               small
                                               class="mt-0"
                                        >
                                            <v-icon small>edit</v-icon>
                                        </v-btn>
                                        <v-icon>fa-quote-left</v-icon>
                                        <span class="body-1">{{
                                            description }}
                                            </span>
                                    </v-flex>
                                </v-card-text>
                                <v-card-text>
                                    <v-layout row>
                                        <v-flex xs12>
                                            <v-btn icon
                                                   @click.native="step=4"
                                                   color="primary"
                                                   small
                                                   class="mt-0"
                                            >
                                                <v-icon small>edit</v-icon>
                                            </v-btn>
                                            Recruiting ends:
                                            <v-chip label small class="success">
                                                {{ lastSubmissionDate |
                                                moment("calendar") }}
                                            </v-chip>
                                            <v-btn icon
                                                   @click.native="step=5"
                                                   color="primary"
                                                   small
                                                   class="mt-0"
                                            >
                                                <v-icon small>edit</v-icon>
                                            </v-btn>
                                            End Date:
                                            <v-chip label small class="error">
                                                {{ pollCloseDate |
                                                moment("from") }}
                                            </v-chip>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-card>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn class="primary"
                                       @click.native="createPhotoContest"
                                       :loading="getLoading"
                                       flat
                                >
                                    <span>Create</span>
                                </v-btn>
                                <v-btn class="warning"
                                       @click.native="clear"
                                       :dark="!getLighting"
                                       flat
                                >
                                    <span>Clear</span>
                                </v-btn>
                                <v-btn class="error"
                                       @click.native="cancel"
                                       :dark="!getLighting"
                                       flat
                                >
                                    <span>Cancel</span>
                                </v-btn>
                            </v-card-actions>
                        </v-stepper-content>
                    </v-stepper>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import store from 'vuex'
    import { mapGetters } from 'vuex'
    import { hashName } from "../colors"

    import sha256 from 'js-sha256'
    import axios from 'axios'
    import _ from 'lodash'

    const MAX_TITLE_LENGTH = 80
    const MAX_DESCRIPTION_LENGTH = 255

    export default {
        components: {

        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLoading',
                'getCommunityTags',
                'getUserCredits',
                'getVotesUnlock',
                'getLighting',
                'getUserProfile'
            ]),
            badgeColor() {
                return `${hashName(this.getUserProfile.username)} ${String("elevation-0")}`
            }
        },
        created() {
            this.$store.dispatch('getCommunityTags')
            this.items = this.getCommunityTags
        },
        data() {
            return {
                today: null,
                searchUrl: '',
                searchTags: [],
                items: [],
                title: '',
                maxTitleLength: MAX_TITLE_LENGTH,
                description: '',
                maxDescriptionLength: MAX_DESCRIPTION_LENGTH,
                descriptionRules: [
                    (v) => (v.length <= MAX_DESCRIPTION_LENGTH) || 'Description must be less than 255 characters'
                ],
                lastSubmissionDate: null,
                lastSubmissionTime: null,
                pollCloseDate: null,
                pollCloseTime: null,
                minUsersThreshold: 10,
                pollType: 'public',
                publicUpload: false,
                submissionType: 'public',
                maxUserEntries: 1,
                unlimitedEntries: false,
                step: 1
            }
        },
        methods: {
            clear() {
                this.title=''
                this.searchTags=[]
                this.description=''
                this.lastSubmissionDate=null
                this.pollCloseDate=null
                this.minUsersThreshold=10
                this.pollType='public'
                this.publicUpload=false
                this.submissionType='public'
                this.maxUserEntries=1
                this.unlimitedEntries=false
                this.step=1
            },
            cancel() {
                this.$emit('cancelled')
                this.clear()

            },
            createPhotoContest() {
                this.$emit('created')
            },
            randomPhoto() {
                this.searchUrl =
                    `https://source.unsplash.com/800x600/?${this.searchTags[0]}`
                console.log(searchUrl)
            }
        },
    }
</script>