<template>
    <v-container fluid
                 v-resize="onResize"
    >
        <v-parallax
                :src="heroImg"
                :height="windowSize.y*mult"
        >
            <v-card-title ref="title">
                <v-layout column align-center justify-center class="hidden-sm-and-down">
                    <v-flex >
                        <v-layout>
                            <span class="display-4 black--text ">
                                Catapolt
                            </span>
                        </v-layout>
                        <v-layout>
                            <span class="display-1 white--text">
                                Make cat polls great again*
                            </span>
                        </v-layout>
                    </v-flex>
                </v-layout>
                <v-layout column align-center justify-center class="hidden-md-and-up">
                    <v-flex >
                        <v-layout>
                                <span class="display-3 black--text ">
                                    Catapolt
                                </span>
                        </v-layout>
                        <v-layout>
                                <span
                                        class="title grey--text text--lighten-4">
                                    Make cat polls great again*
                                </span>
                        </v-layout>
                    </v-flex>
                </v-layout>
                <call-to-action-buttons :signup="true" :login="true" :guest="true"
                ></call-to-action-buttons>
            </v-card-title>
        </v-parallax>
        <v-card class="mb-0" flat>
            <v-card-text class="hidden-md-and-up">
                <v-layout row align-center justify-center
                          class="align-baseline text-align">
                    <v-flex>
                        <span class="display-1">Purpose</span>
                        <span>
                            A Catapolt is a fun way to unlock the wisdom
                            of the crowd when you have numerous options
                            to consider. Fundamentally,
                            it is hard for our puny brains to deal with more than
                            a few options at a time, let alone dozens or hundreds.
                            However, we are very, very good at
                            comparing two things at a time. And that's what a
                            Catapolt enables you to do very easily.
                            You create a poll with a bunch of options, and
                            we use sophisticated <a
                                href="https://en.wikipedia.org/wiki/Elo_rating_system">
                            Elo rating system</a> to give you a useful ranking.
                        </span>
                    </v-flex>
                </v-layout>
            </v-card-text>
            <v-card-text class="hidden-sm-and-down">
                <v-layout row align-center justify-center
                          class="align-baseline text-align">
                    <v-flex xs3>
                        <span class="display-1">Inspiration</span>
                        <span >
                            A catapult is a ballistic device used to launch
                            a projectile a great distance without the aid of
                            explosive devices—particularly various
                            types of ancient and medieval siege engines.
                            In use since ancient times,
                            the catapult has proven to be one of the most
                            effective mechanisms during warfare.
                            In modern times the term can apply to devices
                            ranging from a simple hand-held implement
                            (a slingshot!) to a mechanism for launching aircraft
                            from a ship.
                            <strong></strong>
                        </span>
                    </v-flex>
                    <v-flex xs3 offset-xs1>
                        <span class="display-1">Purpose</span>
                        <span>
                            A Catapolt is a fun way to unlock the wisdom
                            of the crowd when you have numerous options
                            to consider. Fundamentally,
                            it is hard for our puny brains to deal with more than
                            a few options at a time, let alone dozens or hundreds.
                            However, we are very, very good at
                            comparing two things at a time. And that's what a
                            Catapolt enables you to do very easily.
                            You create a poll with a bunch of options, and
                            we use sophisticated <a
                                href="https://en.wikipedia.org/wiki/Elo_rating_system">
                            Elo rating system</a> to give you a useful ranking.
                        </span>
                    </v-flex>
                    <v-flex xs3 offset-xs1>
                        <span class="display-1">Application</span>
                        <span> We think great applications for
                            Catapolts include sports (Best NFL Quarterbacks),
                            entertainment (Album of the Year), personal images
                            (Best Portraits of Me), and so many more that you
                            can think of. You can also share your polls publicly
                            or make them private so only your friends and colleagues
                            can participate. In the future we will implement ways
                            to make creating polls even easier so that you
                            can focus on finding the answers you need.
                        </span>
                    </v-flex>
                </v-layout>
            </v-card-text>
            <v-parallax :src="secondImg" :height="windowSize.y*mult">
            </v-parallax>
            <v-card-title ref="title">
                <v-layout column align-center justify-center>
                    <v-flex >
                        <v-layout column align-center justify-center class="hidden-sm-and-down">
                            <v-flex >
                                <v-layout>
                                    <span class="display-4 black--text ">
                                        Catapolt
                                    </span>
                                </v-layout>
                                <v-layout>
                                    <span class="display-1 grey--text ">
                                        Make cat polls great again*
                                    </span>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                        <v-layout column align-center justify-center class="hidden-md-and-up">
                            <v-flex >
                                <v-layout>
                                <span class="display-3 black--text ">
                                    Catapolt
                                </span>
                                </v-layout>
                                <v-layout>
                                <span class="title grey--text">
                                    Make cat polls great again*
                                </span>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
                <call-to-action-buttons :signup="true" :login="true" :guest="true"
                ></call-to-action-buttons>
            </v-card-title>
            <v-layout row class="hidden-xs-only">
                <v-flex class="mr-2 text-xs-right">
                    <span
                            class="subheading blue-grey--text">*Even non-cat polls can be made great!
                    </span>
                </v-flex>
            </v-layout>
            <v-layout row class="hidden-sm-and-up">
                <v-flex class="mr-2 text-xs-right">
                    <span
                            class="body-2 blue-grey--text">*Even non-cat polls can be made great!
                    </span>
                </v-flex>
            </v-layout>
        </v-card>
    </v-container>
</template>

<script>
    import store from 'vuex'
    import {mapGetters} from 'vuex'
    import CallToActionButtons from './CallToActionButtons.vue'

    import _ from 'lodash'

    const DEBOUNCE_WINDOW_RESIZE_MS = 250
    const BASE_URL = "https://storage.googleapis.com/duopolly/static/img/"
    const HERO_IMAGE = "cat-british-shorthair-bkh-thoroughbred-162287.jpeg"
    const SECOND_IMAGE = "pacto-visual-157776-cropped.jpg"
    const MULTIPLIER = 0.6

    export default {
        components: {
            CallToActionButtons
        },
        data() {
            return {
                windowSize: {
                    x: 0,
                    y: 0
                },
                videoId: "3QCQ8vHKsCc",
                heroImg: BASE_URL + HERO_IMAGE,
                secondImg: BASE_URL + SECOND_IMAGE,
                mult: MULTIPLIER
            }
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLighting'
            ])
        },
        methods: {
            onResize() {
                this.windowSize = {
                    x: window.innerWidth,
                    y: window.innerHeight
                }
            },
            scroll() {
                let container = this.$refs.title
                window.scrollTo(0,this.windowSize.y/2)
            }
        },
        created() {
            if (this.isAuthenticated) {
                this.$router.push({name: 'polls'})
            }
            this.onResize()
        },
    }
</script>

<style>
    .background {
        background-color: rgba(255,255,255,0.5);
    }
</style>