<template>
    <v-container fluid>
        <v-parallax
                :src="image"
                :height="windowSize.y"
        >
            <v-layout row wrap v-resize="onResize">
                <v-flex sm6 offset-sm6 md4 offset-md6 lg3 offset-lg8 xl2
                        offset-xl8 class="mt-5 pa-0">
                    <v-card>
                        <v-toolbar class="indigo accent-4 white--text elevation-0">
                            <v-toolbar-title>Login</v-toolbar-title>
                        </v-toolbar>
                        <v-card-text>
                            <v-layout row class="text-xs-center"
                                      v-if="!getLoading">
                                <v-flex xs12 md10 offset-md1 xl8 offset-xl2>
                                        <span
                                                class="subheading blue-grey--text"
                                        >
                                            Login with username and password.
                                        </span>
                                </v-flex>
                            </v-layout>
                            <v-text-field
                                    label="Username"
                                    class="mt-5"
                                    v-model="username"
                                    required
                                    autofocus
                            ></v-text-field>
                            <v-text-field
                                    v-model="password"
                                    label="Password"
                                    type="password"
                                    required
                            >
                            </v-text-field>
                            <div>
                            <span v-show="error" class="red--text">
                                {{ error }}
                            </span>
                            </div>
                            <small class="red--text">
                                *indicates required field
                            </small>
                        </v-card-text>
                        <v-card-actions>
                            <v-chip outline
                                    label
                                    class="alert"
                                    v-if="getLoading"
                            >
                                <span>Attempting login...</span>
                            </v-chip>
                            <v-spacer></v-spacer>
                            <v-btn class="primary--text"
                                   flat
                                   @click.native="login"
                                   :loading="getLoading"
                            >Login
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-parallax>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import store from 'vuex'
    import {mapGetters} from 'vuex'

    const FAKE_TIMEOUT_MS = 2000
    const BACKGROUND_IMAGE =
        "https://storage.googleapis.com/duopolly/static/img/pexels-photo-127028.jpeg"

    export default {
        data() {
            return {
                windowSize: {
                    x: 0,
                    y: 0
                },
                username: null,
                password: null,
                error: null,
                image: BACKGROUND_IMAGE
            }
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLoading'
            ])
        },
        created() {
            this.onResize()
        },
        methods: {
            sleep(time) {
                return new Promise((resolve) => setTimeout(resolve, time));
            },
            login() {
                this.$store.commit('START_LOADING')
                this.error = null
                this.$store.dispatch('login', {
                    username: this.username,
                    password: this.password
                }).then(res => {
                    console.log('successful authentication')
                    this.$store.commit('SET_TOKEN_AUTH', res.data.key)
                    this.$store.dispatch('storeToken')
                    return this.$store.dispatch('getUserInfo')
                }).then(res => {
                    console.log('successful userinfo')
                    console.log(res.data)
                    this.$store.commit('SET_USERID', res.data.pk)
                    this.$store.commit('SET_USERNAME', res.data.username)
                    return this.$store.dispatch('getCommunityTags')
                }).then(res => {
                    this.$store.commit('SET_COMMUNITY_TAGS', res.data)
                    return this.$store.dispatch('profile')
                }).then(res => {
                    this.$store.commit('SET_USER_PROFILE', res.data)
                    this.$store.commit('STOP_LOADING')
                    if (this.$route.query['previous']) {
                        this.$router.push({path: this.$route.query['previous']})
                    } else {
                        this.$router.push({name: 'polls'})
                    }
                }).catch(err => {
                    this.error = "Authentication error."
                    this.$store.commit('STOP_LOADING')
                })
            },
            onResize() {
                this.windowSize = {
                    x: window.innerWidth,
                    y: window.innerHeight
                }
            },
        }
    }
</script>

