<template>
    <v-container fluid >
        <v-layout row>
            <v-flex xs12 lg8 offset-lg2 xl6 offset-xl3>
                <profile :profile="photo ? photo.profile : null"></profile>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <template>
                <v-flex xs12 lg8 offset-lg2 xl6 offset-xl3
                        class="mt-5"
                >
                    <photo-card :photo="photo"
                                :userid="getUserid"
                                @likePhoto="likePhotoToggled"
                                :height="windowSize.y*0.5"
                                :is-owner="photo.profile.username===getUsername"
                                @deletePhoto="deletePhoto"
                                @tagClicked="tagClicked"
                                :theme="getLighting ? 'light' : 'dark'"
                                :show-comments-on-open="showCommentsOnOpen"
                                :gridOn="true"
                    ></photo-card>
                </v-flex>
            </template>
        </v-layout>
        <v-snackbar
                :timeout="timeout"
                :right="true"
                v-model="snackbar"
                :color="context"
        >
            <span class="subheading">{{ text }}</span>
            <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import store from 'vuex'
    import {mapGetters} from 'vuex'
    import PhotoCard from './PhotoCard.vue'
    import Profile from './Profile.vue'


    const TIMEOUT = 1000
    const PHOTO_SUBMITTED_MSG = "Photo deleted!"

    export default {
        components: {
            PhotoCard,
            Profile
        },
        data() {
            return {
                showCommentsOnOpen: true,
                photo: null,
                id: null,
                errors: null,
                timeout: TIMEOUT,
                snackbar: false,
                context: 'success',
                mode: 'vertical',
                text: PHOTO_SUBMITTED_MSG,
                windowSize: {
                    x: 0,
                    y: 0
                },
                commentInput: '',
                comments: [],
                fab: false
            }
        },
        created() {
            this.id = this.$route.params['id']
            this.$store.dispatch('getPhoto', {
                id: this.id
            }).then(res => {
                this.photo = res.data
            }).catch(err => {
                console.log(err)
            })
            this.windowSize = {
                x: window.innerWidth,
                y: window.innerHeight
            }
        },
        computed: {
            ...mapGetters([
                'getUserid',
                'getUsername',
                'getAuthToken',
                'getLighting'
            ])
        },
        methods: {
            sleep(time) {
                return new Promise((resolve) => setTimeout(resolve, time));
            },
            likePhotoToggled() {
                this.$store.dispatch('likePhoto', {
                    id: this.photo.id
                }).then(res => {
                    this.photo.likes = res.data.likes
                }).catch(err => {
                    console.log(err)
                })
            },
            deletePhoto() {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('deletePortfolioPhoto', {
                    id: this.photo.id
                }).then(res => {
                    this.$store.dispatch('getPortfolioTags')
                    this.snackbar = true
                    this.sleep(TIMEOUT).then(() => {
                        this.$store.commit('STOP_LOADING')
                        this.$router.push({name: 'portfolio',
                            params: {username: this.getUsername, userid: this.getUserid}})
                    })
                }).catch(err => {
                    this.$store.commit('STOP_LOADING')
                })
            },
            tagClicked(tag) {
                this.$router.push({name: 'community', query: {tags: tag.tag,
                    sortType: 'win_pct'}})
            }
        }
    }
</script>

