<template>
    <v-card :hover="hover" :dark="theme==='dark'"
    >
        <v-card-title
                v-if="!hideTitle"
                class="pb-2 pt-2"
        >
            <v-container fluid class="pa-0 ma-0">
                <v-layout row wrap >
                    <v-flex xs10 >
                        <v-layout row>
                            <router-link
                                    :to="{name:'portfolio', params: {username: photo.profile.username, userid: photo.profile.id},
                                query: {sortType: 'win_pct', tags: []}}"
                            >
                                <v-flex v-if="photo.profile.media_url"
                                >
                                    <v-avatar size="44px" class="elevation-0" >
                                        <img :src="photo.profile.media_url">
                                    </v-avatar>
                                    <span class="subheading">
                                {{ photo.profile.username }}
                                </span>
                                    <span
                                            class="caption blue-grey--text text--lighten-2">{{ photo.created |
                                    moment("from", "now") }}</span>
                                </v-flex>
                                <v-flex v-else>
                                    <v-avatar :class="badgeColor"
                                              size="44px">
                                    <span
                                            class="headline white--text"
                                    >{{ photo.profile.username.slice(0, 1).toUpperCase() }}
                                    </span>
                                    </v-avatar>
                                    <span class="subheading">
                                {{ photo.profile.username }}
                                </span>
                                    <span
                                            class="caption blue-grey--text text--lighten-2">{{ photo.created |
                                    moment("from", "now") }}</span>
                                </v-flex>
                            </router-link>
                            <v-spacer></v-spacer>
                        </v-layout>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex xs1 class="pt-0 pb-0 mt-0 mb-0 pr-5">
                        <v-menu >
                            <v-btn icon slot="activator" :dark="theme==='dark'">
                                <v-icon>more_horiz</v-icon>
                            </v-btn>
                            <v-list >
                                <v-list-tile v-if="isOwner"
                                             @click.native="editDialog=true"
                                >
                                    <v-list-tile-title class="body-1">
                                        <v-icon small class="blue--text"
                                        >edit
                                        </v-icon>
                                        Edit
                                    </v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile v-if="isOwner"
                                             @click.native="deletePhoto"
                                >
                                    <v-list-tile-title class="body-1">
                                        <v-icon class="red--text"
                                                small
                                        >delete
                                        </v-icon>
                                        Delete
                                    </v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click.native="reportDialog=true"
                                             v-if="!isOwner"
                                >
                                    <v-list-tile-title class="body-1"
                                    >
                                        <v-icon small
                                                class="warning--text">report
                                        </v-icon>
                                        Report
                                    </v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-title>
        <v-card-media
                :src="photo.photo"
                :height="gridOn ? height : 1.5*height"
                @click="photoClicked"
                :contain="cropFree"
                :class="(theme==='dark' ? 'black' : 'grey lighten-4') "
        >
            <v-layout row wrap>
                <v-flex class="text-xs-right" v-if="!checked">
                    <v-btn-toggle v-model="toggleCrop" class="crop-btn"
                    >
                        <v-btn @click.stop="cropFree=!cropFree"
                        >
                            <v-icon v-if="photo.width > 1.75*photo.height">
                                crop_16_9
                            </v-icon>
                            <v-icon v-else-if="photo.width > photo.height">
                                crop_landscape
                            </v-icon>
                            <v-icon v-else>
                                crop_portrait
                            </v-icon>
                            <span class="caption" v-if="photo.width > photo.height">{{ Math.round(100*photo.width/photo.height)/100 }}</span>
                            <span class="caption" v-else>{{ Math.round(10*photo.height/photo.width)/10 }}</span>
                        </v-btn>
                    </v-btn-toggle>
                </v-flex>
                <transition name="check"
                >
                    <v-flex xs2 v-if="checked">
                        <v-card-text
                        >
                            <v-avatar
                                    size="60px"
                                    class="green elevation-24">
                                <v-icon large class="white--text">
                                    fa-check-square-o
                                </v-icon>
                            </v-avatar>
                        </v-card-text>
                    </v-flex>
                </transition>
            </v-layout>
        </v-card-media>
        <v-card-text v-if="!hideTags && photo.tags.length > 0"
                     class="mb-2 pa-0 text-xs-left">
            <v-layout row >
                <v-flex xs12 >
                    <v-icon class="ml-2" :dark="theme==='dark'">style</v-icon>
                    <v-chip
                            v-for="tag in photo.tags"
                            :key="tag"
                            class="ma-0 pa-0"
                            @click.native="tagClicked(tag)"
                            outline
                            label
                            small
                    >
                    <span class="caption">
                        #{{ tag }}
                    </span>
                        </v-chip>
                    </v-flex>
            </v-layout>
        </v-card-text>
        <v-card-text v-if="photo.title" class="pa-1 mb-0 mt-2">
            <router-link :to="{name:'photo', params:{id: photo.id, slug: photo.slug}}">
                <v-layout row wrap>
                    <v-flex text-xs-left class="ml-3 pa-0">
                        <span v-if="theme==='dark'"
                              class="subheading blue-grey--text text--lighten-4"
                        >
                            {{ photo.title }}
                        </span>
                            <span v-else
                                  class="subheading blue-grey--text text--darken-3"
                            >
                            {{ photo.title }}
                        </span>
                    </v-flex>
                </v-layout>
            </router-link>
         </v-card-text>
        <v-card-text v-if="photo.description === 'null' ?
                false : (photo.description && !hideQuote)"
                     class="mb-2 pb-0 mt-0 pt-2"
        >
            <v-flex xs12 class="pt-0 pb-0 mb-0">
                <blockquote class="body-1 pt-0 pb-0">
                    <v-icon>fa-quote-left</v-icon>
                    <span v-if="!showQuote">{{ photo.description.slice(0,30) }}</span>
                    <span v-if="!showQuote && (photo.description.length>30)">...</span>
                    <v-btn @click="showQuote=!showQuote"
                           v-if="!showQuote && (photo.description.length > 30)"
                           icon
                           class="ma-0"
                    >
                        <v-icon
                        >
                            expand_more
                        </v-icon>
                    </v-btn>
                    <span v-if="showQuote">{{ photo.description }}</span>
                    <v-icon @click="showQuote=!showQuote"
                            v-if="showQuote && (photo.description.length > 30)"
                    >
                        expand_less
                    </v-icon>
                </blockquote>
            </v-flex>
        </v-card-text>
        <v-card-actions v-if="!hideSocial" class="pb-0 pt-0 mt-0">
            <v-flex >
                <v-btn icon @click="likePhoto" >
                    <v-icon v-if="photo.likes.includes(userid)"
                            class="pink--text text--accent-3"
                            medium
                    >favorite_border
                    </v-icon>
                    <v-icon class="blue-grey--text text--lighten-2"
                            v-else
                            medium
                    >favorite_border
                    </v-icon>
                </v-btn>
                <span class="caption blue-grey--text text--lighten-2"
                      v-if="numLikes > 1"
                >{{
                    numLikes }} likes</span>
                <span class="caption blue-grey--text text--lighten-2"
                      v-else-if="numLikes === 1"
                >{{
                    numLikes }} like</span>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex >
                <v-btn icon @click="clickComment">
                    <v-icon class="blue-grey--text text--lighten-2"
                            v-if="photo.num_comments <= 0"
                            medium
                    >fa-comment-o
                    </v-icon>
                    <v-icon v-else
                            class="indigo--text text--accent-2"
                            medium
                    >fa-comments-o
                    </v-icon>
                </v-btn>
                <span class="caption blue-grey--text text--lighten-2"
                      v-if="photo.num_comments > 1"
                >{{
                    photo.num_comments
                    }} comments</span>
                <span class="caption blue-grey--text text--lighten-2"
                      v-else-if="photo.num_comments === 1"
                >{{
                    photo.num_comments
                    }} comment</span>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex v-if="!hideSocial && (this.win_pct >= 0)"  class="pa-0 ma-0">
                <v-flex
                        class="text-xs-center pa-0 ma-2"
                >
                    <v-progress-circular :value="progress"
                                         :color="color"
                                         :size="38"
                                         :width="6"
                                         :rotate="-90"
                    >
                            <span class="body-2">
                                {{ Math.round(100 * this.win_pct, 2) }}
                            </span>
                    </v-progress-circular>
                </v-flex>
            </v-flex>
            <v-flex v-else
                    class="pa-0 ma-0"
            >
                <v-flex
                        class="text-xs-center pb-0 pt-0 "
                >
                    <v-icon :dark="theme==='dark'"
                            disabled
                            small
                    >fa-hourglass-half
                    </v-icon>
                </v-flex>
            </v-flex>
            <v-flex v-if="!hideSocial"  class="pb-2">
                <span class="caption blue-grey--text text--lighten-2"
                      v-if="(photo.num_wins + photo.num_losses) > 1"
                >
                        {{ photo.num_wins + photo.num_losses }} votes
                    </span>
                <span class="caption blue-grey--text text--lighten-2"
                      v-else-if="(photo.num_wins + photo.num_losses) === 1"
                >
                        {{ photo.num_wins + photo.num_losses }} votes
                    </span>
                <span class="caption blue-grey--text text--lighten-2"
                      v-else
                >
                        waiting for votes
                    </span>
            </v-flex>
        </v-card-actions>
        <v-card-text v-if="showComments">
            <span class="body-2 blue-grey--text text--lighten-2">Comments</span>
            <span>
                <v-icon :dark="theme==='dark'"
                        @click="commentPolicyDialog=true"
                        small
                >info</v-icon>
            </span>
            <span v-if="photo.num_comments <= 0"
                  class="caption blue-grey--text text--lighten-2"
            >
                Be the first to comment!
            </span>
            <v-container fluid grid-list-md >
                <v-layout row wrap
                          v-for="(comment, index) in comments"
                          :key="index">
                    <v-flex xs11 class="ma-0 pa-0"
                    >
                        <comment :comment="comment"
                                 :index="index"
                                 @delete="deleteComment(comment, index)"
                                 :is-owner="userid === comment.profile.id"
                                 :theme="theme"
                        ></comment>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-layout row wrap>
                <v-flex xs12
                >
                    <v-card
                            hover
                            :dark="theme==='dark'"
                            class="elevation-0"
                    >
                        <v-card-text >
                            <v-layout row>
                                <v-flex xs12>
                                    <v-text-field
                                            label="New comment"
                                            v-model="commentInput"
                                            counter="255"
                                            :rules="commentRules"
                                            hint="Hit enter when finished typing."
                                            autofocus
                                            @keyup.enter="addComment"
                                            auto-grow
                                            placeholder="Write something constructive here."
                                            multiLine
                                            rows="2"
                                            loading
                                            :dark="theme==='dark'"
                                            clearable
                                            prepend-icon="edit"
                                    >
                                        <v-progress-linear slot="progress" :value="commentInputProgress"
                                                           :color="commentInputProgressColor"
                                                           :height="4">
                                        </v-progress-linear>
                                    </v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-card-text>
        <template>
            <v-dialog v-model="commentPolicyDialog" maxWidth="400">
                <v-card>
                    <v-card-title>
                        <span class="headline alert--text">Commenting Policy</span>
                    </v-card-title>
                    <v-card-text>
                        <span>This site will not tolerate any of the
                            following:</span>
                        <v-list>
                            <v-list-tile>
                                Abusive language
                            </v-list-tile>
                            <v-list-tile>
                                Offensive language
                            </v-list-tile>
                            <v-list-tile>
                                Commercial and/or spam content
                            </v-list-tile>
                        </v-list>
                        <span>Users that violate this policy may be
                            banned.</span>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click.native="commentPolicyDialog=false" flat
                               class="info--text">
                            <span>OK</span>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </template>
        <template>
            <v-dialog v-model="reportDialog" maxWidth="380"
            >
                <v-card>
                    <v-card-title>
                        <span class="headline alert--text">This photo contains:</span>
                    </v-card-title>
                    <v-card-text>
                        <v-radio-group v-model="reportStatus"
                                       column
                                       v-for="option in reportOptions"
                                       :key="option.key"
                        >
                            <v-radio :label="option.key" :value="option.value"></v-radio>
                        </v-radio-group>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click.native="reportDialog=false;reportPhoto(true)" flat class="error--text">
                            <span>Report</span>
                        </v-btn>
                        <v-btn @click.native="reportDialog=false;reportPhoto(false)" flat class="primary--text">
                            <span>Cancel</span>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </template>
        <template>
            <v-dialog v-model="editDialog" maxWidth="500"
            >
                <v-card>
                    <v-card-title>
                        <span class="headline alert--text">Edit Photo Details</span>
                    </v-card-title>
                    <v-layout>
                        <v-flex xs10 offset-xs1>
                            <v-text-field
                                    label="Image title"
                                    v-model="editTitleText"
                                    prepend-icon="edit"
                                    :counter="maxTitleLength"
                                    :max="maxTitleLength"
                                    autofocus
                                    :rules="titleRules"
                            ></v-text-field>
                            <v-text-field
                                    label="Description and technical details"
                                    v-model="editDescription"
                                    multi-line
                                    placeholder="Enter some description here."
                                    :counter="maxDescriptionLength"
                                    :max="maxDescriptionLength"
                                    auto-grow
                                    prepend-icon="edit"
                                    :rules="descriptionRules"
                                    clearable
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click.native="editDialog=false" flat class="info--text">
                            <span>Save</span>
                        </v-btn>
                        <v-btn @click.native="editDialog=false;editTitleText=photo.title;editDescription=photo.description"
                               flat class="error--text">
                            <span>Cancel</span>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </template>
        <template>
            <v-snackbar
                    :timeout="timeout"
                    :right="true"
                    v-model="snackbar"
                    :color="context"
            >
                <span class="subheading">{{ text }}</span>
                <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
            </v-snackbar>
        </template>
    </v-card>
</template>

<script>
    import { hashName } from "../colors"
    import store from 'vuex'
    import VProgressCircular from "vuetify/es5/components/VProgressCircular/VProgressCircular"
    import Comment from "./Comment.vue"

    const ADULT = "Adult content"
    const ABUSE = "Hateful and/or abusive content"
    const VIOLENCE = "Violent content"
    const SPAM = "Spam or other commercial content"
    const COPYRIGHT = "Copyright infringement"
    const TAGS = "Incorrect tags"
    const OTHER = "Other inappropriate content"
    const TIMEOUT = 3000
    const HIGH_COLOR = 'indigo'
    const LOW_COLOR = 'deep-orange'
    const MIDDLE_COLOR = 'blue-grey lighten-3'
    const MAX_TITLE_LENGTH = 80
    const MAX_DESCRIPTION_LENGTH = 255
    const MAX_COMMENT_LENGTH = 255

    export default {
        props: [
            'photo',
            'userid',
            'slug',
            'height',
            'isOwner',
            'loading',
            'checked',
            'hideTitle',
            'hideSocial',
            'hideQuote',
            'hideTags',
            'hideInfoBar',
            'hover',
            'index',
            'theme',
            'showCommentsOnOpen',
            'gridOn'
        ],
        data() {
            return {
                likeToggle: false,
                titleRules: [
                    (v) => v && (v.length <= MAX_TITLE_LENGTH) || 'Title must be less than 80 characters'
                ],
                commentRules: [
                    (v) => v && (v.length <= MAX_COMMENT_LENGTH) || 'Comment must be less than 255 characters'
                ],
                descriptionRules: [
                    (v) => v && (v.length <= MAX_COMMENT_LENGTH) || 'Description must be less than 255 characters'
                ],
                snackbar: false,
                context: 'success',
                text: '',
                fab: false,
                timeout: TIMEOUT,
                reportDialog: false,
                reportStatus: null,
                comments: [],
                showComments: false,
                reportOptions: [
                    {key: ADULT, value: 3},
                    {key: ABUSE, value: 4},
                    {key: VIOLENCE, value: 5},
                    {key: SPAM, value: 6},
                    {key: COPYRIGHT, value: 7},
                    {key: TAGS, value: 8},
                    {key: OTHER, value: 2},
                ],
                commentInput: '',
                editDialog: false,
                editTitleText: '',
                maxTitleLength: MAX_TITLE_LENGTH,
                maxDescriptionLength: MAX_DESCRIPTION_LENGTH,
                editDescription: '',
                commentPolicyDialog: false,
                toggleCrop: false,
                cropFree: false,
                showQuote: false
            }
        },
        watch: {
            commentInput: function(comment) {
                if (!comment) {
                    this.commentInput = ''
                }
            }
        },
        created () {
            if (this.photo.reports.includes(this.userid)) {
                this.reported = true
            }
            this.likes = this.photo.likes.splice()
            this.editTitleText = this.photo.title
            if (this.photo.description === "null") {
                this.editDescription = null
            } else {
                this.editDescription = this.photo.description
            }
            if (this.showCommentsOnOpen) {
                this.showQuote = true
                this.clickComment()
            }
            if ((this.photo.width/this.photo.height >= (3/2)) ||
                (this.photo.height/this.photo.width >= 1)) {
                this.cropFree = true
                this.toggleCrop = 0
            }
        },
        components: {
            VProgressCircular,
            Comment,
        },
        computed: {
            numLikes() {
                return this.photo.likes.length
            },
            commentInputProgress() {
                if (this.commentInput.length) {
                    return Math.min(100, 100*this.commentInput.length / 255)
                } else {
                    return 0
                }

            },
            commentInputProgressColor() {
                return ['info', 'error'][Math.floor(this.commentInputProgress
                    / 100)]
            },
            badgeColor() {
                return `${hashName(this.photo.profile.username)} ${String("elevation-0")}`
            },
            progress() {
                if (this.win_pct > 0) {
                    return Math.min(100, 100 * this.win_pct)
                } else {
                    return 100
                }
            },
            color() {
                if ((this.photo.num_wins + this.photo.num_losses) === 0) {
                    return 'grey'
                } else if (this.photo.num_wins === 0) {
                    return `${LOW_COLOR} accent-4`
                } else {
                    return [
                        `${LOW_COLOR} accent-4`,
                        `${LOW_COLOR} accent-3`,
                        `${LOW_COLOR} accent-2`,
                        `${LOW_COLOR} accent-1`,
                        `${LOW_COLOR}`,
                        `${LOW_COLOR} lighten-1`,
                        `${LOW_COLOR} lighten-2`,
                        `${LOW_COLOR} lighten-3`,
                        `${LOW_COLOR} lighten-4`,
                        `${MIDDLE_COLOR}`,
                        `${HIGH_COLOR} lighten-4`,
                        `${HIGH_COLOR} lighten-3`,
                        `${HIGH_COLOR} lighten-2`,
                        `${HIGH_COLOR} lighten-1`,
                        `${HIGH_COLOR}`,
                        `${HIGH_COLOR} accent-1`,
                        `${HIGH_COLOR} accent-2`,
                        `${HIGH_COLOR} accent-3`,
                        `${HIGH_COLOR} accent-4`
                    ][Math.floor(this.progress/(100/18))]
                }
            },
            win_pct() {
                return this.photo.num_wins / (this.photo.num_wins + this.photo.num_losses)
            }
        },
        methods: {
            likePhoto() {
                this.$emit('likePhoto')
            },
            deletePhoto() {
                this.$emit('deletePhoto')
            },
            reportPhoto(report) {
                if (report) {
                    this.$emit('reportPhoto', {
                        status: this.reportStatus,
                        photo: this.photo,
                        index: this.index
                    })
                }
                else {
                    console.log(`no report logged`)
                }
            },
            tagClicked(tag) {
                this.$emit('tagClicked', {
                    tag: tag
                })
            },
            photoClicked() {
                this.$emit('photoClicked')
            },
            clickComment() {
                this.showComments = !this.showComments
                if (this.showComments) {
                    this.$store.dispatch('getComments', {
                        id: this.photo.id
                    }).then(res => {
                        this.comments = res.data
                    }).catch(err => {
                        console.log(err)
                    })
                } else {
                    this.comments=[]
                }
            },
            deleteComment(comment, index) {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('deleteComment', {
                    id: comment.id
                }).then(res => {
                    this.comments.splice(index, 1)
                    this.photo.num_comments -= 1
                    this.text = "Comment deleted."
                    this.context = "success"
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                })
            },
            addComment() {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('addComment', {
                    id: this.photo.id,
                    text: this.commentInput
                }).then(res => {
                    this.commentInput = ''
                    this.comments.push(res.data)
                    this.photo.num_comments += 1
                    this.text = "Comment posted!"
                    this.context = "success"
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    console.log(err)
                })
            }
        }
    }
</script>

<style >
    .check-enter-active {
        transition: all 0.5s ease-in-out;
    }

    .check-enter {
        opacity: 0;
        transform: translate(0pt,-10pt);
    }

    .crop-btn {
        opacity: 0.7;
    }
</style>

