<template>
    <v-card :dark="!getLighting"
            v-resize="onResize"
    >
        <v-card-title
                :class="((entry.owner.id===getUserid) || expired() ? color : '') + ' pa-1 ma-0'"
        >
            <v-layout row >
                <v-flex v-if="entry.owner.media_url"
                >
                    <router-link :to="{name:'user', params: {username: entry.owner.username, userid: entry.owner.id}}">
                        <v-avatar size="44px" class="elevation-0 hidden-sm-and-down">
                            <img :src="entry.owner.media_url">
                        </v-avatar>
                        <span class="subheading hidden-sm-and-down">
                                {{ entry.owner.username }}
                        </span>
                        <span
                                class="caption blue-grey--text text--lighten-2 hidden-sm-and-down">
                                {{ entry.created | moment("from", "now") }}
                        </span>
                    </router-link>
                    <router-link :to="{name:'user', params: {username: entry.owner.username, userid: entry.owner.id}}">
                        <v-avatar size="32px" class="elevation-0 hidden-md-and-up">
                            <img :src="entry.owner.media_url">
                        </v-avatar>
                        <span class="body-1 hidden-md-and-up">
                                {{ entry.owner.username }}
                        </span>
                        <span
                                class="caption blue-grey--text text--lighten-2 hidden-md-and-up">
                                {{ entry.created | moment("from", "now") }}
                        </span>
                    </router-link>
                </v-flex>
                <v-flex v-else>
                    <router-link :to="{name:'user', params: {username: entry.owner.username, userid: entry.owner.id}}">
                        <v-avatar
                                :class="badgeColor(entry.owner.username) + ' hidden-sm-and-down'"
                                size="44px">
                            <span
                                    class="headline white--text hidden-sm-and-down"
                            >{{ entry.owner.username.slice(0, 1).toUpperCase() }}
                            </span>
                        </v-avatar>
                        <span class="subheading hidden-sm-and-down">
                                {{ entry.owner.username }}
                        </span>
                        <span
                                class="caption blue-grey--text text--lighten-2 hidden-sm-and-down">
                                     {{ entry.created |
                        moment("from", "now") }}
                        </span>
                    </router-link>
                    <router-link :to="{name:'user', params: {username: entry.owner.username, userid: entry.owner.id}}">
                        <v-avatar
                                :class="badgeColor(entry.owner.username) + ' hidden-md-and-up mt-1'"
                                size="32px">
                            <span
                                    class="subheading white--text hidden-md-and-up"
                            >{{ entry.owner.username.slice(0, 1).toUpperCase() }}
                            </span>
                        </v-avatar>
                        <span class="body-1 hidden-md-and-up">
                                {{ entry.owner.username }}
                        </span>
                    </router-link>
                </v-flex>
                <v-flex v-if="(entry.owner.id===getUserid) || expired()"
                        class="text-xs-center pa-0 ma-0 pt-1"
                >
                    <v-layout class="hidden-sm-and-down">
                        <v-progress-circular :value="100-progress"
                                             :color="color"
                                             :size="46"
                                             :width="8"
                                             :rotate="270"
                        >
                        <span class="title white--text">
                            {{ Math.round(progress, 2) }}
                        </span>
                        </v-progress-circular>
                    </v-layout>
                    <v-layout class="hidden-md-and-up">
                        <v-progress-circular :value="100-progress"
                                             :color="color"
                                             :size="32"
                                             :width="6"
                                             :rotate="270"
                        >
                        <span class="body-1 white--text">
                            {{ Math.round(progress, 2) }}
                        </span>
                        </v-progress-circular>
                    </v-layout>
                </v-flex>
                <v-spacer></v-spacer>
                <v-flex  class="pa-0">
                    <v-menu>
                        <v-btn icon slot="activator" :dark="!getLighting">
                            <v-icon>more_horiz</v-icon>
                        </v-btn>
                        <v-list>
                            <v-list-tile v-if="entry.owner.id===getUserid && !startDate"
                                         @click.native="editEntry"
                            >
                                <v-list-tile-title class="body-1">
                                    <v-icon class="primary--text">edit</v-icon>
                                    Edit
                                </v-list-tile-title>
                            </v-list-tile>
                            <v-list-tile v-if="entry.owner.id===getUserid"
                                         @click.native="deleteEntry"
                            >
                                <v-list-tile-title class="body-1">
                                    <v-icon class="error--text">delete</v-icon>
                                    Delete
                                </v-list-tile-title>
                            </v-list-tile>
                            <v-list-tile v-if="entry.owner.id!==getUserid && startDate"
                                         @click.native="reportComment"
                            >
                                <v-list-tile-title class="body-1">
                                    <v-icon class="warning--text">
                                        sentiment_very_dissatisfied
                                    </v-icon>
                                    Report
                                </v-list-tile-title>
                            </v-list-tile>
                        </v-list>
                    </v-menu>
                </v-flex>
            </v-layout>
        </v-card-title>
        <v-card-media :src="entry.photo"
                      :height="windowSize.y < 1000 ?
                                  '250' : '320'"
                      @click="photoClicked"
                      class="align-end hidden-sm-and-down"
        >
            <v-container  fluid
                          class="grey darken-4 transparent pa-1">
                <v-layout column align-center wrap>
                    <v-avatar
                            size="56px"
                            class="green accent-4 pb-0 "
                            v-if="checked"
                    >
                        <v-icon large class="white--text">
                            fa-check
                        </v-icon>
                    </v-avatar>
                </v-layout>
                <v-layout row wrap align-end>
                    <v-flex  v-if="startDate && ((index && expired) || (getUserid===ownerId))"
                             class="pa-0 "
                    >
                        <v-chip
                                label
                                flat
                                :class="color + ' title' + ' white--text pa-0'"
                                small
                        >
                            {{ index }}
                        </v-chip>
                    </v-flex>
                    <v-flex >
                        <span class="title grey--text text--lighten-4">
                            {{ entry.title }}
                        </span>
                    </v-flex>
                </v-layout>
                <v-layout row wrap >
                    <v-flex >
                        <span class="body-1 blue-grey--text text--lighten-3 mr-2"
                              v-for="tag in entry.tags"
                              :key="tag"
                        >
                            {{ tag }}
                        </span>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-media>
        <v-card-media :src="entry.photo"
                      :height="150"
                      @click="photoClicked"
                      class="align-end hidden-md-and-up"
        >
            <v-container  fluid
                          class="grey darken-4 transparent pa-1">
                <v-layout column align-center wrap>
                    <v-avatar
                            size="56px"
                            class="green accent-4 pb-0 "
                            v-if="checked"
                    >
                        <v-icon large class="white--text">
                            fa-check
                        </v-icon>
                    </v-avatar>
                </v-layout>
                <v-layout row wrap align-end>
                    <v-flex  v-if="startDate && ((index && expired) || (getUserid===ownerId))"
                             class="pa-0"
                    >
                        <v-chip
                                label
                                flat
                                :class="color + ' body-2' + ' white--text pa-0 ma-0'"
                                small
                        >
                            {{ index }}
                        </v-chip>
                    </v-flex>
                    <v-flex >
                        <span class="body-2 grey--text text--lighten-4">
                            {{ entry.title }}
                        </span>
                    </v-flex>
                </v-layout>
                <v-layout row wrap >
                    <v-flex >
                        <span class="caption blue-grey--text text--lighten-3 mr-2"
                              v-for="tag in entry.tags"
                              :key="tag"
                        >
                            {{ tag }}
                        </span>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-media>
        <v-card-text v-if="entry.description.length > 0">
            <blockquote>
                <span class="body-1">{{ entry.description }}</span>
            </blockquote>
        </v-card-text>
    </v-card>
</template>

<script>
    import store from 'vuex'
    import {mapGetters} from 'vuex'
    import {hashName} from "../colors"

    import axios from 'axios'
    import moment from 'moment'

    const PHOTO_SUBMITTED_MSG = "New poll entry created!"
    const TIMEOUT = 3000
    const HERO_DENOM = 2.0
    const HIGH_COLOR = 'green'
    const LOW_COLOR = 'deep-orange'
    const MIDDLE_COLOR = 'yellow'


    export default {
        props: ['entry', 'checked', 'startDate', 'expirationDate', 'index', 'ownerId'],
        data() {
            return {
                windowSize: {
                    x: 0,
                    y: 0
                }
            }
        },
        created() {

        },
        methods: {
            onResize() {
                this.windowSize = {
                    x: window.innerWidth,
                    y: window.innerHeight
                }
            },
            photoClicked() {
                this.$emit('photoClicked')
            },
            badgeColor(name) {
                return `${hashName(name)} ${String("elevation-0")}`
            },
            deleteEntry() {
                this.$emit('delete')
            },
            expired() {
                return moment(this.expirationDate).isBefore(new Date())
            },
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLoading',
                'getLighting',
                'getGridOn',
                'getUserProfile',
                'getCommunityTags'
            ]),
            progress() {
                let e1 = Math.pow(10, this.entry.rating / 400.0)
                let e2 = Math.pow(10, 1400 / 400.0)
                return 100 * (e1 / (e1 + e2))
            },
            color() {
                return [
                    `${LOW_COLOR} darken-4`,
                    `${LOW_COLOR} darken-3`,
                    `${LOW_COLOR} darken-2`,
                    `${LOW_COLOR} darken-1`,
                    `${LOW_COLOR}`,
                    `${LOW_COLOR} lighten-1`,
                    `${LOW_COLOR} lighten-2`,
                    `${LOW_COLOR} lighten-3`,
                    `${LOW_COLOR} lighten-4`,
                    `${HIGH_COLOR} lighten-4`,
                    `${HIGH_COLOR} lighten-3`,
                    `${HIGH_COLOR} lighten-2`,
                    `${HIGH_COLOR} lighten-1`,
                    `${HIGH_COLOR}`,
                    `${HIGH_COLOR} darken-1`,
                    `${HIGH_COLOR} darken-2`,
                    `${HIGH_COLOR} darken-3`,
                    `${HIGH_COLOR} darken-4`
                ][Math.floor(this.progress / (100 / 18))]
            },
        },

    }
</script>

<style>
    .check-enter-active {
        transition: all 1s ease-in-out;
    }

    .check-enter {
        opacity: 0;
        transform: translate(0pt, -10pt);
    }

    .entry-title {
        font-weight: 300;
    }

</style>