<template>
    <v-card :dark="!getLighting"
    >
        <v-card-title class="pt-2 pb-2"
        >
            <v-layout row>
                <router-link
                        :to="{name:'user', params: {username: poll.owner.username, userid: poll.owner.id}}"
                >
                    <v-flex v-if="poll.owner.media_url"
                    >
                        <v-avatar size="42px" class="elevation-0" >
                            <img :src="poll.owner.media_url">
                        </v-avatar>
                        <span class="subheading">
                            {{ poll.owner.username }}
                        </span>
                        <span   v-if="!poll.expiration_date"
                                class="body-1 blue-grey--text text--lighten-2"
                        >
                        created {{ poll.created | moment("from",
                        "now") }}
                        </span>
                        <span v-else-if="poll.expiration_date && !expired()"
                              class="body-1 green--text text--lighten-2"
                        >
                            closes {{ poll.expiration_date | moment("from", "now") }}
                        </span>
                        <span v-else-if="poll.expiration_date && expired()"
                              class="body-1 red--text text--lighten-2"
                        >
                            closed {{ poll.expiration_date | moment("from", "now") }}
                        </span>
                    </v-flex>
                    <v-flex v-else>
                        <v-avatar
                                :class="badgeColor(poll.owner.username)"
                                size="42px"
                        >
                        <span
                                class="headline white--text"
                        >{{ poll.owner.username.slice(0, 1).toUpperCase() }}
                        </span>
                        </v-avatar>
                        <span class="subheading"
                        >
                            {{ poll.owner.username }}
                        </span>
                        <span   v-if="!poll.expiration_date"
                                class="body-1 blue-grey--text text--lighten-2"
                        >
                            created {{ poll.created | moment("from",
                            "now") }}
                        </span>
                        <span v-else-if="poll.expiration_date && !expired()"
                              class="body-1 green--text text--lighten-2"
                        >
                            closes {{ poll.expiration_date | moment("from", "now") }}
                        </span>
                        <span v-else-if="poll.expiration_date && expired()"
                              class="body-1 red--text text--lighten-2"
                        >
                            closed {{ poll.expiration_date | moment("from", "now") }}
                        </span>
                    </v-flex>
                </router-link>
                <v-spacer></v-spacer>
                <v-flex xs1 class="pt-0 pb-0 mt-0 mb-0 pr-5"
                >
                    <v-menu>
                        <v-btn icon slot="activator"
                               :dark="!getLighting"
                        >
                            <v-icon>more_horiz</v-icon>
                        </v-btn>
                        <v-list >
                            <v-list-tile v-if="poll.owner.username===getUsername"
                                         @click.native="editDialog=true"
                            >
                                <v-list-tile-title class="body-1">
                                    <v-icon small class="blue--text"
                                    >edit
                                    </v-icon>
                                    Edit
                                </v-list-tile-title>
                            </v-list-tile>
                            <v-list-tile v-if="poll.owner.username===getUsername"
                                         @click.native="deletePoll"
                            >
                                <v-list-tile-title class="body-1">
                                    <v-icon class="red--text"
                                            small
                                    >delete
                                    </v-icon>
                                    Delete
                                </v-list-tile-title>
                            </v-list-tile>
                            <v-list-tile @click.native="reportDialog=true"
                                         v-if="poll.owner.username!==getUsername"
                            >
                                <v-list-tile-title class="body-1"
                                >
                                    <v-icon small
                                            class="warning--text">report
                                    </v-icon>
                                    Report
                                </v-list-tile-title>
                            </v-list-tile>
                        </v-list>
                    </v-menu>
                </v-flex>
            </v-layout>
        </v-card-title>
        <v-card-media :src="poll.photo"
                      :height="250"
                      class="align-end"
                      @click.native="photoClicked"
        >
            <v-container fill-height
                         fluid
                         class="grey darken-4 transparent pa-0"
            >
                <v-card-text class="pt-1 pb-1" >
                    <v-layout row wrap>
                        <v-flex >
                            <router-link :to="{name: 'poll', params: {id: poll.id, slug: poll.slug}}">
                                <span
                                        class="title yellow--text text--accent-2"
                                >
                                    {{ poll.title }}
                                </span>
                            </router-link>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex  xs10>
                            <span class="body-1 mr-2 blue-grey--text text--lighten-3 hidden-sm-and-down"
                                  v-for="tag in poll.tags"
                                  :key="tag"
                            >
                                {{ tag }}
                            </span>
                            <span class="caption mr-2 blue-grey--text text--lighten-3 hidden-md-and-up"
                                  v-for="tag in poll.tags"
                                  :key="tag"
                            >
                                {{ tag }}
                            </span>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </v-container>
        </v-card-media>
        <v-card-actions
                        class="pa-0 text-xs-left">
            <v-layout row >
                <v-flex xs10>
                    <v-tooltip top>
                        <v-chip
                                outline
                                slot="activator"
                                small
                        >
                            <v-icon >
                                playlist_add
                            </v-icon>
                            <span class="body-1">
                                {{ poll.num_entries }}
                            </span>
                        </v-chip>
                        <span>options</span>
                    </v-tooltip>
                    <v-tooltip top>
                        <v-chip
                                outline
                                slot="activator"
                                small
                        >
                            <v-icon >
                                group
                            </v-icon>
                            <span class="body-1">
                                {{ poll.num_voters }}
                            </span>
                        </v-chip>
                        <span>participants</span>
                    </v-tooltip>
                    <v-tooltip top>
                        <v-chip
                                outline
                                slot="activator"
                                small
                        >
                            <v-icon >
                                check
                            </v-icon>
                            <span class="body-1">
                                {{ poll.num_votes }}
                            </span>
                        </v-chip>
                        <span>votes</span>
                    </v-tooltip>
                    <v-tooltip top>
                        <v-chip
                                outline
                                slot="activator"
                                small
                        >
                            <v-icon left>
                                fa-comments-o
                            </v-icon>
                            <span class="body-1">{{ poll.num_comments }}</span>
                        </v-chip>
                        <span>comments</span>
                    </v-tooltip>
                    <v-chip
                            v-if="poll.private"
                            outline
                            small
                    >
                        <v-icon
                        >fa-user-secret</v-icon>
                    </v-chip>
                </v-flex>
                <v-spacer></v-spacer>
                <v-flex xs2 v-if="poll.owner.id!==getUserid && isAuthenticated"
                >
                    <v-icon v-if="poll.follows.includes(getUserid)"
                            class="green--text text--accent-4 mt-1"
                            @click="follow"
                    >
                        bookmark
                    </v-icon>
                    <v-icon class="blue-grey--text text--lighten-2 mt-2"
                            v-else
                            @click="follow"
                    >
                        bookmark_border
                    </v-icon>
                </v-flex>
            </v-layout>
        </v-card-actions>
        <v-card-text v-if="poll.description === 'null' ?
                false : (poll.description )"
                     class="mb-0 pb-0 mt-0 pt-0"
        >
            <v-flex xs12 class="pt-0 pb-1 mb-0">
                <blockquote>
                    <span class="body-1" >{{ poll.description }}</span>
                </blockquote>
            </v-flex>
        </v-card-text>
    </v-card>
</template>

<script>
    import axios from 'axios'
    import store from 'vuex'
    import {mapGetters} from 'vuex'
    import {hashName} from "../colors"

    import moment from 'moment'

    const TIMEOUT = 1500

    export default {
        props: ['poll'],
        data() {
            return {
                snackbar: false,
                timeout: TIMEOUT,
                context: 'success',
                mode: '',
            }
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getUserid',
                'getUsername',
                'getCommunityTags',
                'getLoading',
                'getLighting',
                'getGridOn',
                'getAuthToken'
            ]),
        },
        methods: {
            expired() {
                return moment(this.poll.expiration_date).isBefore(new Date())
            },
            badgeColor(name) {
                return `${hashName(name)} ${String("elevation-0")}`
            },
            deletePoll() {
                this.$emit('deletePoll')
            },
            follow() {
                this.$emit('follow')
            },
            tagClicked(tag) {
                this.$router.push({name: 'polls', query: {search: tag}})
            },
            photoClicked(tag) {
                this.$router.push({name: 'poll', params: {id: this.poll.id,
                    slug: this.poll.slug}})
            }
        }
    }

</script>

