<template>
    <v-container fluid v-resize="onResize">
        <v-toolbar  prominent :dark="!getLighting" class="mb-3">
            <v-text-field
                    v-model="searchQuery"
                    prepend-icon="search"
                    hint="Search for tags, titles, descriptions, and users."
                    placeholder="cute kittens"
                    @keyup.enter="searchPolls"
                    :prepend-icon-cb="searchPolls"
                    class="elevation-0"
                    clearable
            ></v-text-field>
        </v-toolbar>
        <v-parallax :src="heroPhoto"
                    :height="Math.min(windowSize.y/ratio, poll.height)"
        >
        </v-parallax>
        <v-card :dark="!getLighting"
                class="poll-title mb-4 elevation-0 "
        >
            <v-card-title >
                <v-layout column wrap align-center justify-center>
                    <v-flex >
                        <router-link :to="{name:'userPolls', params: {username: poll.owner.username, userid: poll.owner.id}}">
                            <v-flex class="text-xs-center">
                                <v-flex v-if="poll.owner.media_url"
                                >
                                    <v-avatar size="60px" class="elevation-0" >
                                        <img :src="poll.owner.media_url">
                                        <v-progress-circular :size="78" :width="4" indeterminate
                                                             style="position:absolute;"
                                                             color="primary"
                                                             v-if="showInitialLoadingProgressBar"
                                        ></v-progress-circular>
                                    </v-avatar>
                                </v-flex>
                                <v-flex v-else>
                                    <v-avatar
                                            :class="badgeColor(poll.owner.username) + ' hidden-sm-and-down'"
                                            size="60px"
                                    >
                                        <span
                                                class="display-1 white--text"
                                        >
                                            {{ poll.owner.username.slice(0, 1).toUpperCase() }}
                                        </span>
                                        <v-progress-circular :size="78" :width="4" indeterminate
                                                             style="position:absolute;"
                                                             color="primary"
                                                             v-if="showInitialLoadingProgressBar"
                                        ></v-progress-circular>
                                    </v-avatar>
                                    <v-avatar
                                            :class="badgeColor(poll.owner.username) + ' hidden-md-and-up'"
                                            size="42px"
                                    >
                                        <span
                                                class="headline white--text"
                                        >
                                            {{ poll.owner.username.slice(0, 1).toUpperCase() }}
                                        </span>
                                        <v-progress-circular :size="52" :width="2" indeterminate
                                                             style="position:absolute;"
                                                             color="primary"
                                                             v-if="showInitialLoadingProgressBar"
                                        ></v-progress-circular>
                                    </v-avatar>
                                </v-flex>
                            </v-flex>
                            <v-layout column wrap align-center
                                      v-if="showInitialLoadingProgressBar"
                            >
                                <v-flex class="subheading mt-2">
                                            <span :class="getLighting ? 'grey--text text--darken-2' : 'grey--text text--lighten-2'"
                                            >loading poll data...this may take a few seconds</span>
                                </v-flex>
                            </v-layout>
                            <v-flex >
                                <v-layout column align-center justify-center>
                                    <v-flex >
                                        <span class="headline hidden-sm-and-down">
                                            {{ poll.owner.username }}
                                        </span>
                                        <span class="subheading hidden-md-and-up">
                                            {{ poll.owner.username }}
                                        </span>
                                    </v-flex>
                                    <v-flex>
                                        <span   v-if="!poll.expiration_date"
                                                class="subheading blue-grey--text text--lighten-2"
                                        >
                                            created {{ poll.created | moment("from", "now") }}
                                        </span>
                                        <span v-else-if="poll.expiration_date && !expired()"
                                              class="subheading green--text text--lighten-2"
                                        >
                                            closes {{ poll.expiration_date | moment("from", "now") }}
                                        </span>
                                        <span v-else-if="poll.expiration_date && expired()"
                                              class="subheading red--text text--lighten-2"
                                        >
                                            closed {{ poll.expiration_date | moment("from", "now") }}
                                        </span>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </router-link>
                    </v-flex>
                </v-layout>
            </v-card-title>
            <v-card-text class="pt-0">
                <v-layout  column align-center justify-center>
                    <v-flex class="mt-0">
                            <span class="display-3 hidden-sm-and-down">{{
                                poll.title }}
                            </span>
                            <span class="title hidden-md-and-up">{{
                                poll.title }}
                            </span>
                    </v-flex>
                </v-layout>
                <v-layout row wrap column align-center justify-center>
                    <v-flex :dark="!getLighting"
                            class="headline mb-0"
                            xs12 sm8 md6
                    >
                        <blockquote
                        >
                            <span class="headline hidden-sm-and-down">
                                {{ poll.description }}
                            </span>
                            <span class="subheading hidden-md-and-up">
                                {{ poll.description }}
                            </span>
                        </blockquote>
                    </v-flex>
                </v-layout>
                <v-layout column wrap align-center justify-center>
                    <v-flex class="hidden-sm-and-down">
                        <v-chip
                                outline
                        >
                            <v-icon left large>
                                playlist_add
                            </v-icon>
                            <span class="title">
                                {{ poll.num_entries }}
                            </span>
                        </v-chip>
                        <v-chip
                                outline
                        >
                            <v-icon left large>
                                group
                            </v-icon>
                            <span class="title">
                                {{ poll.num_voters }}
                            </span>
                        </v-chip>
                        <v-chip
                                outline
                        >
                            <v-icon left large>
                                check
                            </v-icon>
                            <span class="title">
                                {{ poll.num_votes }}
                            </span>
                        </v-chip>
                        <v-chip
                                outline
                        >
                            <v-icon left large>
                                fa-comments-o
                            </v-icon>
                            <span class="title">{{ poll.num_comments }}</span>
                        </v-chip>
                        <v-chip
                                v-if="poll.private"
                                outline
                                left large
                        >
                            <v-icon
                            >fa-user-secret</v-icon>
                        </v-chip>
                    </v-flex>
                    <v-flex class="hidden-md-and-up">
                        <v-chip
                                outline
                        >
                            <v-icon left>
                                playlist_add
                            </v-icon>
                            <span class="body-2">
                                {{ poll.num_entries }}
                            </span>
                        </v-chip>
                        <v-chip
                                outline
                        >
                            <v-icon left >
                                group
                            </v-icon>
                            <span class="body-2">
                                {{ poll.num_voters }}
                            </span>
                        </v-chip>
                        <v-chip
                                outline
                        >
                            <v-icon left >
                                check
                            </v-icon>
                            <span class="body-2">
                                {{ poll.num_votes }}
                            </span>
                        </v-chip>
                        <v-chip
                                outline
                        >
                            <v-icon left >
                                fa-comments-o
                            </v-icon>
                            <span class="body-2">{{ poll.num_comments }}</span>
                        </v-chip>
                        <v-chip
                                v-if="poll.private"
                                outline
                                left
                        >
                            <v-icon
                            >fa-user-secret</v-icon>
                        </v-chip>
                    </v-flex>
                </v-layout>
                <v-layout column align-center justify-center>
                    <v-flex class="hidden-sm-and-down">
                        <v-chip
                                v-for="tag in poll.tags"
                                :key="tag"
                                outline
                                :dark="!getLighting"
                                color="blue-grey lighten-2"
                        >
                                <span class="title poll-title-tag">
                                    {{ tag }}
                                </span>
                        </v-chip>
                    </v-flex>
                    <v-flex class="hidden-md-and-up">
                        <v-chip
                                v-for="tag in poll.tags"
                                :key="tag"
                                outline
                                :dark="!getLighting"
                                color="blue-grey lighten-2"
                                small
                        >
                                <span class="subheading poll-title-tag">
                                    {{ tag }}
                                </span>
                        </v-chip>
                    </v-flex>
                </v-layout>
                <v-card-actions class="pb-0 mb-0">
                    <v-spacer></v-spacer>
                    <social-sharing
                            :url="'https://catapolt.co' + sharingUrl"
                            :title="poll.title"
                            :description="poll.description"
                            twitter-user="catapoltco"
                            :hashtags="poll.tags.join(',')"
                            :media="poll.photo"
                            inline-template
                    >
                        <div>
                            <network network="facebook" >
                                <v-btn icon small fab class="blue darken-4">
                                    <v-icon  class="white--text">fa-facebook</v-icon>
                                </v-btn>
                            </network>
                            <network network="twitter">
                                <v-btn icon small fab class="blue lighten-1">
                                    <v-icon  class="white--text">fa-twitter</v-icon>
                                </v-btn>
                            </network>
                            <network network="pinterest">
                                <v-btn icon small fab class="red darken-4">
                                    <v-icon  class="white--text">fa-pinterest-p</v-icon>
                                </v-btn>
                            </network>
                            <network network="reddit">
                                <v-btn icon small fab class="orange accent-4">
                                    <v-icon  class="white--text">fa-reddit-alien</v-icon>
                                </v-btn>
                            </network>
                            <network network="linkedin">
                                <v-btn icon small fab class="blue darken-2">
                                    <v-icon  class="white--text">fa-linkedin</v-icon>
                                </v-btn>
                            </network>
                        </div>
                    </social-sharing>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card-text>
        </v-card>
        <call-to-action-buttons v-if="!getUserid && expired()" :signup="true" :login="true" :guest="false"
        ></call-to-action-buttons>
        <v-layout column wrap align-center v-if="!getUserid && expired()">
            <v-flex>
                <span :class="getLighting ? ' subheading grey--text text--darken-2' : ' subheading grey--text text--lighten-2'"
                >Register to see results.</span>
            </v-flex>
        </v-layout>
        <v-container fluid
                     grid-list-sm
        >
            <v-card :class="getLighting ? 'blue-grey lighten-4' : 'blue-grey white--text'"
                    flat
                    v-if="choice && (poll.owner.username!==getUsername) && poll.start_date && !expired()"
            >
                <call-to-action-buttons v-if="!getUserid && !expired()"
                                        :signup="true"
                                        :login="true"
                                        :guest="false"
                                        :previous="$route.fullPath"
                ></call-to-action-buttons>
                <v-layout column wrap align-center v-if="!getUserid && !expired()">
                    <v-flex>
                            <span :class="getLighting ? ' subheading grey--text text--darken-2' : 'subheading grey--text text--lighten-2'"
                            >
                                This is just a sample. Register or login to vote.
                            </span>
                    </v-flex>
                </v-layout>
                <v-card-title v-if="!expired()">
                    <v-layout column >
                        <v-flex xs12 class="text-xs-center" >
                            <span class="display-2 hidden-sm-and-down"
                            >
                                Cast your vote!
                            </span>
                            <span class="display-1 hidden-md-and-up"
                            >
                                Cast your vote!
                            </span>
                        </v-flex>
                    </v-layout>
                </v-card-title>
                <v-layout row >
                    <v-flex xs6 lg4 xl3 offset-lg2 offset-xl3>
                        <poll-entry-card :entry="choice.left"
                                         @photoClicked="photoClicked('left')"
                                         :checked="winner==choice.left"
                                         :startDate="poll.start_date"
                                         :expirationDate="poll.expiration_date"
                                         :index="null"
                        ></poll-entry-card>
                    </v-flex>
                    <v-flex xs6 lg4 xl3>
                        <poll-entry-card :entry="choice.right"
                                         @photoClicked="photoClicked('right')"
                                         :checked="winner==choice.right"
                                         :startDate="poll.start_date"
                                         :expirationDate="poll.expiration_date"
                                         :index="null"
                        ></poll-entry-card>
                    </v-flex>
                    <v-snackbar
                            absolute
                            :timeout="timeout"
                            v-model="votedSnackbar"
                            :color="context"
                            :right="right"
                            :left="left"
                    >
                        <span class="display-1 wp_style hidden-sm-and-down pa-2">{{ text }}</span>
                        <span class="subheading wp_style hidden-md-and-up">{{ text }}</span>
                        <v-btn dark flat @click="votedSnackbar = false" icon>
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-snackbar>
                </v-layout>
                <v-layout row align-center>
                    <v-flex class="text-xs-center">
                        <v-btn @click.native.stop="draw"
                               large
                               outline
                               flat
                               :dark="!getLighting"
                               :disabled="getLoading || !getUserid"
                        >
                            <span>Draw</span>
                        </v-btn>
                        <v-btn @click.native.stop="refresh"
                               :loading="getLoading"
                               :disabled="getLoading || !getUserid"
                               large
                               outline
                               flat
                               :dark="!getLighting"
                        >
                            <v-icon large
                            >
                                refresh
                            </v-icon>
                            <span>Skip</span>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-card>
            <v-card v-else-if="showThanksForVoting"
                    :dark="!getLighting"
                    class="elevation-0"
            >
                <v-card-title>
                    <v-layout row wrap>
                        <v-flex xs12 class="text-xs-center">
                            <span class="pa-0 ma-0 display-1">
                                <v-icon large left class="pb-0 mb-1 mt-0 success--text">check_circle</v-icon>
                                Thanks for voting!
                            </span>
                        </v-flex>
                    </v-layout>
                </v-card-title>
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex xs12 class="text-xs-center pa-0 ma-0">
                            <span class="subheading">
                                We'll notify you when all the votes are counted.
                            </span>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-container>
        <v-container fluid grid-list-sm >
            <v-card :dark="!getLighting" v-if="expired() || (poll.owner.id===getUserid)">
                <v-card-title>
                    <v-flex >
                        <span class="display-2 hidden-sm-and-down">Poll
                            Options
                        </span>
                        <span class="title hidden-md-and-up">Poll
                            Options
                        </span>
                    </v-flex>
                </v-card-title>
            </v-card>
            <v-layout row wrap>
                <v-flex d-flex
                        v-if="poll.owner.username===getUsername"
                        class="mt-2 mb-2"
                >
                    <v-card :dark="!getLighting">
                        <v-layout row justify-center>
                            <v-spacer></v-spacer>
                            <v-flex >
                                <v-layout column align-center>
                                    <v-btn
                                            outline
                                            fab
                                            @click.native.stop="uploadDialog=true"
                                            :disabled="poll.start_date"
                                    >
                                        <v-icon large >
                                            playlist_add
                                        </v-icon>
                                    </v-btn>
                                    <span :disabled="poll.start_date"
                                          class="body-2"
                                    >Add</span>
                                </v-layout>
                            </v-flex>
                            <v-flex v-if="!poll.start_date && (poll.owner.username===getUsername)">
                                <v-layout column align-center>
                                    <v-btn outline
                                           fab
                                           @click.native.stop="startPoll"
                                           :disabled="this.entries.length<=1"
                                    >
                                        <v-icon large>
                                            power_settings_new
                                        </v-icon>
                                    </v-btn>
                                    <span
                                          class="body-2"
                                    >Start</span>
                                </v-layout>
                            </v-flex>
                            <v-flex v-if="poll.start_date">
                                <v-layout column align-center>
                                    <v-btn outline
                                           fab
                                           @click="closePoll"
                                           :disabled="expired()"
                                    >
                                        <v-icon large>
                                            stop
                                        </v-icon>
                                    </v-btn>
                                    <span v-if="poll.start_date"
                                          :disabled="expired()"
                                          class="body-2"
                                    >
                                        Stop
                                    </span>
                                </v-layout>
                            </v-flex>
                            <v-flex>
                                <v-layout column align-center>
                                    <v-btn outline
                                           fab
                                           @click="deletePoll"
                                    >
                                        <v-icon large>
                                            delete
                                        </v-icon>
                                    </v-btn>
                                    <span class="body-2">Delete</span>
                                </v-layout>
                            </v-flex>
                            <v-spacer></v-spacer>
                        </v-layout>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout row wrap v-if="(getUserid===poll.owner.id) || expired()">
                <template>
                    <v-flex v-for="(entry, index) in entries"
                            :key="entry.id"
                            xs12 sm6 md4 lg3 xl2
                            class="hidden-sm-and-down"
                    >
                        <poll-entry-card :entry="entry"
                                         :startDate="poll.start_date"
                                         @delete="deleteEntry(entry, index)"
                                         :index="index+1"
                                         :ownerId="poll.owner.id"
                        ></poll-entry-card>
                    </v-flex>
                    <v-flex v-for="(entry, index) in entries"
                            :key="entry.id"
                            xs12 sm4
                            class="hidden-md-and-up"
                    >
                        <poll-entry-card :entry="entry"
                                         :startDate="poll.start_date"
                                         @delete="deleteEntry(entry, index)"
                                         :index="index+1"
                                         :ownerId="poll.owner.id"
                        ></poll-entry-card>
                    </v-flex>
                </template>
            </v-layout>
        </v-container>
        <poll-detail-comments :poll="poll"
                              :comments="comments"
                              @delete="deleteComment"
                              @new="newComment"
        ></poll-detail-comments>
        <v-dialog v-model="uploadDialog"
                  transition="dialog-bottom-transition"
                  max-width="600"
                  modal
        >
            <v-flex >
                <submit-poll-entry @uploadCompleted="completed"
                                   @closed="uploadDialog=false"
                                   :poll="poll"
                                   :items="getCommunityTags"
                                   :poll-tags="poll.tags"
                ></submit-poll-entry>
            </v-flex>
        </v-dialog>
        <v-snackbar
                :timeout="timeout"
                v-model="snackbar"
                :color="context"
                right
        >
            <span class="subheading">{{ text }}</span>
            <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import store from 'vuex'
    import { mapGetters } from 'vuex'
    import { hashName } from "../colors"
    import PollCard from './PollCard.vue'
    import SubmitPollEntry from './SubmitPollEntry.vue'
    import PollEntryCard from './PollEntryCard.vue'
    import PollDetailComments from './PollDetailComments.vue'
    import CallToActionButtons from './CallToActionButtons.vue'

    import axios from 'axios'
    import moment from 'moment'

    const PHOTO_SUBMITTED_MSG = "New poll entry created!"
    const TIMEOUT = 2500
    const HERO_DENOM = 2.33
    const HIGH_COLOR = 'green'
    const LOW_COLOR = 'deep-orange'

    export default {
        components: {
            PollCard,
            SubmitPollEntry,
            PollEntryCard,
            PollDetailComments,
            CallToActionButtons
        },
        data() {
            return {
                id: null,
                poll: {},
                image: null,
                rawImgFile: null,
                uploadDialog: false,
                text: PHOTO_SUBMITTED_MSG,
                snackbar: false,
                context: 'success',
                right: true,
                left: false,
                timeout: TIMEOUT,
                entries: [],
                windowSize: {
                    x: 0,
                    y: 0
                },
                ratio: HERO_DENOM,
                choice: null,
                winner: null,
                loser: null,
                error: '',
                heroPhoto: null,
                comments: [],
                num_comments: null,
                votedSnackbar: false,
                searchQuery: '',
                showThanksForVoting: false,
                showInitialLoadingProgressBar: false,
                sharingUrl: null
            }
        },
        computed: {
            ...mapGetters([
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLoading',
                'getLighting',
                'getGridOn',
                'getUserProfile',
                'getCommunityTags'
            ])
        },
        created() {
            this.sharingUrl = this.$route.fullPath
            this.showInitialLoadingProgressBar = true
            this.windowSize = {
                x: window.innerWidth,
                y: window.innerHeight
            }
            this.id = this.$route.params['id']
            this.$store.dispatch('getPoll', this.id).then(res=> {
                this.poll = res.data
                this.heroPhoto = res.data.photo
                return this.$store.dispatch('getPollComments', this.id)
            }).then(res => {
                this.comments = res.data
                this.num_comments = this.poll.num_comments
                if (this.getUserid) {
                    return this.$store.dispatch('getPollChoice', this.id)
                } else {
                    return this.$store.dispatch('getPollSample', this.id)
                }
            }).then(res => {
                this.choice = res.data
                if ((this.getUserid && this.expired()) || (this.getUserid===this.poll.owner.id)) {
                    return this.$store.dispatch('getPollEntries', this.id)
                }
            }).then(res => {
                if (res.data) {
                    this.entries = res.data
                }
                this.showInitialLoadingProgressBar = false
            }).catch(err => {
                this.showInitialLoadingProgressBar = false
                console.log(err)
            })
        },
        methods: {
            color(wp) {
                return [
                    `${LOW_COLOR} darken-4`,
                    `${LOW_COLOR} darken-3`,
                    `${LOW_COLOR} darken-2`,
                    `${LOW_COLOR} darken-1`,
                    `${LOW_COLOR}`,
                    `${LOW_COLOR} lighten-1`,
                    `${LOW_COLOR} lighten-2`,
                    `${LOW_COLOR} lighten-3`,
                    `${LOW_COLOR} lighten-4`,
                    `${HIGH_COLOR} lighten-4`,
                    `${HIGH_COLOR} lighten-3`,
                    `${HIGH_COLOR} lighten-2`,
                    `${HIGH_COLOR} lighten-1`,
                    `${HIGH_COLOR}`,
                    `${HIGH_COLOR} darken-1`,
                    `${HIGH_COLOR} darken-2`,
                    `${HIGH_COLOR} darken-3`,
                    `${HIGH_COLOR} darken-4`
                ][Math.floor(wp / (100 / 18))]
            },
            sample() {
                this.$store.commit('START_LOADING')
                axios.get('sample', this.poll.id).then(res => {
                    this.choice = res.data
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    console.log(err.response)
                    this.$store.commit('STOP_LOADING')
                })
            },
            refresh() {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('getPollChoice', this.poll.id).then(res => {
                    this.choice = res.data
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    this.$store.commit('STOP_LOADING')
                    if (err.response.status === 404) {
                        this.showThanksForVoting = true
                        this.choice = null
                    }
                })
            },
            draw() {
                let payload = {
                    combo: this.choice.combo,
                    poll: this.id,
                    winner: this.choice.left.id,
                    loser: this.choice.right.id,
                    draw: true
                }
                this.$store.dispatch('pollEntryVote', payload).then(res => {
                    this.context = 'light-blue'
                    this.text = "Some decisions are tough."
                    this.votedSnackbar = true
                    this.right = false
                    this.left = false
                    this.refresh()
                    return this.$store.dispatch('getPoll', this.id)
                }).then(res => {
                    this.poll = res.data
                }).catch(err => {
                    console.log(err.response)
                })
            },
            photoClicked(whichEntry) {
                if (whichEntry==='left') {
                    this.winner = this.choice.left
                    this.loser = this.choice.right
                } else {
                    this.winner = this.choice.right
                    this.loser = this.choice.left
                }
                let payload = {
                    combo: this.choice.combo,
                    poll: this.id,
                    winner: this.winner.id,
                    loser: this.loser.id
                }
                let wp = this.winProbability(this.winner.rating, this.loser.rating)
                this.context = this.color(wp)
                this.text = `${Math.round(wp,3)}% win probability`
                this.votedSnackbar = true
                this.right = whichEntry==='right'
                this.left = whichEntry==='left'
                if (this.getUserid) {
                    this.$store.dispatch('pollEntryVote', payload).then(res => {
                        return this.$store.dispatch('getPoll', this.id)
                    }).then(res => {
                        this.poll = res.data
                        this.refresh()
                    }).catch(err => {
                        console.log(err.response)
                    })
                }
            },
            winProbability(r1, r2) {
                let e1 = Math.pow(10, r1 / 400.0)
                let e2 = Math.pow(10, r2 / 400.0)
                return 100.0 * (e1 / (e1 + e2))
            },
            completed(entry) {
                this.entries.unshift(entry)
                this.uploadDialog = false
                this.$store.dispatch('getPoll', this.id).then(res => {
                    this.poll = res.data
                    return this.$store.dispatch('getCommunityTags')
                }).then(res => {
                    this.$store.commit('SET_COMMUNITY_TAGS', res.data)
                    this.text = PHOTO_SUBMITTED_MSG
                    this.context = 'success'
                    this.snackbar = true
                }).catch(err => {
                    console.log(err.response.data)
                    this.uploadDialog = false
                })
            },
            badgeColor(name) {
                return `${hashName(name)} ${String("elevation-0")}`
            },
            onResize() {
                this.windowSize = {
                    x: window.innerWidth,
                    y: window.innerHeight
                }
            },
            startPoll() {
                this.$store.dispatch('startPoll', this.id).then(res => {
                    this.poll = res.data
                }).catch(err => {
                    console.log(err.response)
                })
            },
            closePoll(){
                this.$store.dispatch('closePoll', this.id).then(res => {
                    this.poll = res.data
                }).catch(err => {
                    console.log(err.response)
                })
            },
            expired() {
                return moment(this.poll.expiration_date).isBefore(new Date())
            },
            deleteEntry(entry, index) {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('deleteEntry', entry.id).then(res => {
                    this.entries.splice(index, 1)
                    this.context = 'error'
                    this.text = 'Entry deleted!'
                    this.right = true
                    this.left = false
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                })
            },
            deletePoll() {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('deletePoll', this.id).then(res => {
                    this.context = 'error'
                    this.text = 'Poll deleted!'
                    this.right = true
                    this.left = true
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                    this.$router.push({name: 'userPolls', params: {userid: this.getUserid,
                        username: this.getUsername}})
                })
            },
            deleteComment(index) {
                console.log(`delete ${index}`)
                this.$store.commit('START_LOADING')
                this.$store.dispatch('deletePollComment', this.comments[index].id).then(res => {
                    this.comments.splice(index, 1)
                    this.num_comments -= 1
                    this.text = "Comment deleted."
                    this.context = "error"
                    this.right = true
                    this.left = false
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    console.log(err.response)
                    this.$store.commit('STOP_LOADING')
                })
            },
            newComment(payload) {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('addPollComment', {
                    id: payload.id,
                    text: payload.text
                }).then(res => {
                    this.comments.push(res.data)
                    this.num_comments += 1
                    this.text="Comment added!"
                    this.context = "success"
                    this.right = true
                    this.left = false
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    console.log(err)
                    this.$store.commit('STOP_LOADING')
                })
            },
            searchPolls() {
                if (!this.searchQuery || this.searchQuery.length === 0 ) {
                    this.$router.push({name: 'polls'})
                } else {
                    this.$router.push({name: 'polls', query: {search: this.searchQuery}})
                }
            },
        }
    }
</script>

<style>
    .poll-title-tag {
        font-weight: 300;
    }

    .poll-title-description {
        font-weight: 300;
    }

    .wp_style {
        font-family: "Courier New";
    }

    .facebook {
        color: #3b5998;
    }

    .twitter {
        color: #55acee;
    }

    .linkedin {
        color: #007bb5;
    }

    .pinterest {
        color: #cb2027;
    }

    .reddit {
        color: #ff4500;
    }
</style>