<template>
    <v-container fluid grid-list-sm>
        <v-tabs v-model="activeTab" centered :scrollable="false">
            <v-toolbar dense :dark="!getLighting" class="elevation-2 mb-3">
                <v-text-field
                        v-model="searchQuery"
                        prepend-icon="search"
                        hint="Search for tags, titles, descriptions, and users."
                        placeholder="cute kittens"
                        @keyup.enter="searchPolls"
                        :prepend-icon-cb="searchPolls"
                        clearable
                ></v-text-field>
                <v-tabs-bar  slot="extension">
                    <v-tabs-slider color="primary"></v-tabs-slider>
                    <v-tabs-item href="#active">
                        <v-icon medium class="mr-1 primary--text">fa-clock-o</v-icon>
                        <span >Active</span>
                    </v-tabs-item>
                    <v-tabs-item href="#closed">
                        <v-icon medium class="mr-1 error--text">check_circle</v-icon>
                        <span >Expired</span>
                    </v-tabs-item>
                </v-tabs-bar>
            </v-toolbar>
            <call-to-action-buttons v-if="!getUserid" :signup="true" :login="true" :guest="false"
            ></call-to-action-buttons>
            <v-layout column wrap align-center>
                <v-flex>
                <span v-if="!getUserid"
                      :class="getLighting ? 'grey--text text--darken-2' : 'grey--text text--lighten-2'"
                >Must be registered to vote or see results.</span>
                </v-flex>
            </v-layout>
            <v-tabs-items >
                <v-layout column align-center class="mt-1"
                          v-if="showInitialLoadingProgressBar || getLoading"
                >
                    <v-avatar size="60px" class="elevation-0" >
                        <img :src="avatarUrl">
                        <v-progress-circular :size="78" :width="4" indeterminate
                                             style="position:absolute;"
                                             :color="getLighting ? 'primary' : 'info'"
                                             v-if="showInitialLoadingProgressBar || getLoading"
                        ></v-progress-circular>
                    </v-avatar>
                </v-layout>
                <v-layout column wrap align-center
                          v-if="showInitialLoadingProgressBar || getLoading"
                >
                    <v-flex class="subheading mt-2">
                                            <span :class="getLighting ? 'grey--text text--darken-2' : 'grey--text text--lighten-2'"
                                            >loading poll data...this may take a few seconds</span>
                    </v-flex>
                </v-layout>
                <v-tabs-content id="active">
                    <v-layout row wrap class="mt-2">
                        <v-flex
                                v-for="(poll, index) in activePolls"
                                :key="poll.id"
                                xs12 sm6 md4 lg3 xl2
                        >
                            <poll-card :poll="poll"
                                       @deletePoll="deleteActivePoll(poll, index)"
                                       @follow="followPollToggled(poll, index, 'active')"
                            ></poll-card>
                        </v-flex>
                    </v-layout>
                </v-tabs-content>
                <v-tabs-content id="closed">
                    <v-layout row wrap class="mt-2">
                        <v-flex
                                v-for="(poll, index) in closedPolls"
                                :key="poll.id"
                                xs12 sm6 md4 lg3 xl2
                        >
                            <poll-card :poll="poll"
                                       @deletePoll="deleteClosedPoll(poll, index)"
                                       @follow="followPollToggled(poll, index, 'closed')"
                            ></poll-card>
                        </v-flex>
                    </v-layout>
                </v-tabs-content>
            </v-tabs-items>
        </v-tabs>
        <v-dialog v-model="createPollDialog"
                  transition="dialog-bottom-transition"
                  max-width="600"
                  persistent
        >
            <v-flex>
                <create-poll-dialog @cancelled="createPollDialog=false"
                                    @created="createPoll"
                                    :tags="getCommunityTags"
                                    :errors="errors"
                ></create-poll-dialog>
            </v-flex>
        </v-dialog>
        <v-snackbar
                :timeout="timeout"
                v-model="snackbar"
                :color="context"
                right
        >
            <span class="subheading">{{ text }}</span>
            <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import store from 'vuex'
    import {mapGetters} from 'vuex'
    import {hashName} from "../colors"
    import CreatePhotoContestDialog from './CreatePhotoContestDialog.vue'
    import CreatePollDialog from './CreatePollDialog.vue'
    import PollCard from './PollCard.vue'
    import CallToActionButtons from './CallToActionButtons.vue'

    const POLL_CREATED_MSG = "Poll successfully created!"
    const TIMEOUT = 1500
    const AVATAR_URL = "https://storage.googleapis.com/catapolt/static/sadcatavatar.jpg"


    export default {
        components: {
            CreatePhotoContestDialog,
            CreatePollDialog,
            PollCard,
            CallToActionButtons
        },
        data() {
            return {
                polls: [],
                createPhotoContestDialog: false,
                createPollDialog: false,
                timeout: TIMEOUT,
                snackbar: false,
                context: 'success',
                mode: '',
                text: POLL_CREATED_MSG,
                errors: [],
                newPoll: null,
                searchQuery: '',
                activeTab: '',
                closedPolls: [],
                activePolls: [],
                showInitialLoadingProgressBar: true,
                avatarUrl: AVATAR_URL
            }
        },
        created() {
            if (this.$route.query.search) {
                this.searchQuery = this.$route.query.search
                this.$store.dispatch('searchActivePolls', this.searchQuery).then(res => {
                    this.activePolls = res.data
                    this.$store.commit('SET_ACTIVE_POLLS', res.data)
                    return this.$store.dispatch('searchClosedPolls', this.searchQuery)
                }).then(res => {
                    this.closedPolls = res.data
                    this.$store.commit('SET_CLOSED_POLLS', res.data)
                    this.showInitialLoadingProgressBar = false
               }).catch(err => {
                   this.showInitialLoadingProgressBar = false
                   console.log(err.response)
                })
            } else {
                this.$store.dispatch('getActivePolls').then(res => {
                    this.activePolls = res.data
                    this.$store.commit('SET_ACTIVE_POLLS', res.data)
                    this.searchQuery=''
                    return this.$store.dispatch('getClosedPolls')
                }).then(res => {
                    this.closedPolls = res.data
                    this.$store.commit('SET_CLOSED_POLLS', res.data)
                    this.showInitialLoadingProgressBar = false
                }).catch(err => {
                    this.showInitialLoadingProgressBar = false
                    console.log(err.response)
                })
            }
        },
        beforeRouteUpdate(to, from, next) {
            this.searchQuery = ''
            this.searchQuery=to.query['search']
            next()
            if (this.searchQuery) {
                this.$store.dispatch('searchActivePolls', this.searchQuery).then(res => {
                    this.activePolls = res.data
                    this.$store.commit('SET_ACTIVE_POLLS', res.data)
                    return this.$store.dispatch('searchClosedPolls', this.searchQuery)
                }).then(res => {
                    this.closedPolls = res.data
                    this.$store.commit('SET_CLOSED_POLLS', res.data)
                }).catch(err => {
                    console.log(err.response)
                })
            } else {
                this.$store.dispatch('getActivePolls').then(res => {
                    this.activePolls = res.data
                    this.$store.commit('SET_ACTIVE_POLLS', res.data)
                    this.searchQuery=''
                    return this.$store.dispatch('getClosedPolls')
                }).then(res => {
                    this.closedPolls = res.data
                    this.$store.commit('SET_CLOSED_POLLS', res.data)
                }).catch(err => {
                    console.log(err.response)
                })
            }
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getUserid',
                'getUsername',
                'getCommunityTags',
                'getLoading',
                'getLighting',
                'getGridOn',
                'getAuthToken',
                'getPolls',
                'getUserPolls'
            ])
        },
        methods: {
            badgeColor(name) {
                return `${hashName(name)} ${String("elevation-0")}`
            },
            createPhotoContest() {
                console.log('created photo contest')
            },
            createPoll(poll) {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('createPoll', {
                    title: poll.title,
                    description: poll.description,
                    tags: poll.tags,
                    photo: poll.photo
                }).then(res => {
                    this.createPollDialog = false
                    this.polls.unshift(res.data)
                    this.newPoll = res.data
                    return this.$store.dispatch('getCommunityTags')
                }).then(res => {
                    this.$store.commit('SET_COMMUNITY_TAGS', res.data)
                    this.$router.push({name: 'poll', params: {id: this.newPoll.id, slug: this.newPoll.slug}})
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    console.log(err.response.data)
                    this.errors = err.response.data
                    this.$store.commit('STOP_LOADING')
                })
            },
            deleteActivePoll(poll, index) {
                this.$store.commit('START_LOADING')
                this.activePolls.splice(index, 1)
                this.$store.dispatch('deletePoll', poll.id).then(res => {
                    this.text = 'Poll deleted'
                    this.context = 'error'
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    this.errors = err
                    this.$store.commit('STOP_LOADING')
                    console.log(err)
                })
            },
            deleteClosedPoll(poll, index) {
                this.$store.commit('START_LOADING')
                this.closedPolls.splice(index, 1)
                this.$store.dispatch('deletePoll', poll.id).then(res => {
                    this.text = 'Poll deleted'
                    this.context = 'error'
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    this.errors = err
                    this.$store.commit('STOP_LOADING')
                    console.log(err)
                })
            },
            searchPolls() {
                if (!this.searchQuery || this.searchQuery.length === 0 ) {
                    this.$router.push({name: 'polls'})
                } else {
                    this.$router.push({name: 'polls', query: {search: this.searchQuery}})
                }
            },
            followPollToggled(poll, index, pollState) {
                this.$store.dispatch('followPollToggled', {
                    id: poll.id
                }).then(res => {
                    this.$store.commit('SET_POLL_FOLLOWS', {
                        index: index,
                        poll: res.data,
                        state: pollState
                    })
                }).catch(err => {
                    console.log(err)
                })
            },
        }
    }
</script>

<style>
    .transparent {
        opacity: 0.7;
    }
</style>