<template>
    <v-container>
        <v-card :dark="!getLighting" class="elevation-0">
            <v-card-text >
                <span class="display-1 hidden-sm-and-down">Comments</span>
                <span class="title hidden-md-and-up">Comments</span>
                <span>
                    <v-icon @click="commentPolicyDialog=true"
                            small
                            class="mb-3"
                    >info
                    </v-icon>
                </span>
                <v-container fluid grid-list-md>
                    <v-layout row wrap
                              v-for="(comment, index) in comments"
                              :key="index">
                        <v-flex xs12 class="ma-0 pa-0"
                        >
                            <comment :comment="comment"
                                     :index="index"
                                     @delete="deletePollComment(comment, index)"
                                     :is-owner="getUserid === comment.owner.id"
                            ></comment>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-layout row wrap>
                    <v-flex xs12
                    >
                        <v-card
                                hover
                                class="elevation-0"
                        >
                            <v-card-text >
                                <v-layout row>
                                    <v-flex xs12>
                                        <v-text-field
                                                label="New comment"
                                                v-model="commentInput"
                                                counter="255"
                                                :rules="commentRules"
                                                hint="Hit enter when finished typing."
                                                @keyup.enter="addPollComment"
                                                auto-grow
                                                placeholder="Write something constructive here."
                                                multiLine
                                                rows="2"
                                                clearable
                                                prepend-icon="edit"
                                        >
                                        </v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-card-text>
        </v-card>
        <v-snackbar
                :timeout="timeout"
                :right="true"
                v-model="snackbar"
                :color="context"
        >
            <span class="subheading">{{ text }}</span>
            <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
        <template>
            <v-dialog v-model="commentPolicyDialog" maxWidth="400">
                <v-card>
                    <v-card-title>
                        <span class="headline alert--text">Commenting Policy</span>
                    </v-card-title>
                    <v-card-text>
                        <span>This site will not tolerate any of the
                            following:</span>
                        <v-list>
                            <v-list-tile>
                                Abusive language
                            </v-list-tile>
                            <v-list-tile>
                                Offensive language
                            </v-list-tile>
                            <v-list-tile>
                                Commercial and/or spam content
                            </v-list-tile>
                        </v-list>
                        <span>Users that violate this policy may be
                            banned.</span>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click.native="commentPolicyDialog=false" flat
                               class="info--text">
                            Got it
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </template>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import { hashName } from "../colors"
    import { mapGetters } from 'vuex'
    import store from 'vuex'
    import VProgressCircular from "vuetify/es5/components/VProgressCircular/VProgressCircular"
    import Comment from "./Comment.vue"

    const MAX_COMMENT_LENGTH = 255
    const COMMENT_SUBMITTED_MSG = "Comment posted!"
    const TIMEOUT = 1500

    export default {
        components: {
            Comment,
        },
        props: ['poll', 'comments'],
        data() {
            return {
                id: null,
                commentRules: [
                    (v) => v && (v.length <= MAX_COMMENT_LENGTH) || 'Comment must be less than 255 characters'
                ],
                commentInput: '',
                showComments: false,
                timeout: TIMEOUT,
                snackbar: false,
                context: 'success',
                mode: 'vertical',
                text: COMMENT_SUBMITTED_MSG,
                commentPolicyDialog: false
            }
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLoading',
                'getLighting',
                'getUserProfile',
            ]),
            num_comments() {
                return this.comments.length
            }
        },
        watch: {
            commentInput: function(comment) {
                if (!comment) {
                    this.commentInput = ''
                }
            }
        },
        methods: {
            deletePollComment(comment, index) {
                this.$emit('delete', index)
            },
            addPollComment() {
                this.$emit('new', {
                    id: this.poll.id,
                    text: this.commentInput
                })
                this.commentInput = ''
            }
        }
    }
</script>