<template>
    <v-container fluid>
        <v-layout row wrap>
            <v-flex xs12 md8 lg6 offset-md2 offset-lg3>
                <profile :profile="portfolioProfile"
                ></profile>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex class="mb-2 " xs12 md8 lg6 offset-md2 offset-lg3>
                <v-toolbar prominent :dark="!getLighting" class="elevation-1">
                    <v-flex xs6>
                        <v-select
                                :items="getCommunityTags"
                                v-model="searchTags"
                                label="Search tags"
                                autocomplete
                                multiple
                                prepend-icon="search"
                                single-line
                                chips
                                @input="changeRoute"
                                clearable
                                :dark="!getLighting"
                                autofocus
                        >
                            <template slot="selection"
                                      slot-scope="data">
                                <v-chip
                                        @input="data.parent.selectItem(data.item)"
                                        class="chip--select-multi blue-grey"
                                        :selected="data.selected"
                                        :disabled="data.disabled"
                                        :key="JSON.stringify(data.item)"
                                        outline
                                        close
                                >
                                <span
                                        class="body-2 ">{{
                                    data.item }}
                                        </span>
                                </v-chip>
                            </template>
                        </v-select>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex xs1>
                        <span class="subheading">Sort by:</span>
                    </v-flex>
                    <v-flex xs3>
                        <v-radio-group v-model="sortType"
                                       @change="changeRoute" class="caption">
                            <v-radio
                                    color="info"
                                    value="created"
                                    :dark="!getLighting"
                            >
                                <span slot="label" >
                                    <v-icon class="mr-2">fa-calendar</v-icon>
                                    Date
                                </span>
                            </v-radio>
                            <v-radio color="info"
                                     value="win_pct"
                                     :dark="!getLighting"
                            >
                                <span slot="label" >
                                    <v-icon class="mr-2">
                                        fa-sort-numeric-desc
                                    </v-icon>
                                    Score
                                </span>
                            </v-radio>
                        </v-radio-group>
                    </v-flex>
                </v-toolbar>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs12>
                <v-card :class="getLighting ? 'white elevation-0 pa-0' :
                'grey darken-1  elevation-0 pa-0'">
                    <v-container fluid grid-list-md>
                        <v-layout row wrap>
                            <template >
                                <v-flex
                                        :xs12="getGridOn"
                                        :sm6="getGridOn"
                                        :lg4="getGridOn"
                                        :xl3="getGridOn"
                                        :sm10="!getGridOn"
                                        :md8="!getGridOn"
                                        :lg6="!getGridOn"
                                        :xl4="!getGridOn"
                                        :offset-sm1="!getGridOn"
                                        :offset-md2="!getGridOn"
                                        :offset-lg3="!getGridOn"
                                        :offset-xl4="!getGridOn"
                                        v-for="(photo, index) in getPortfolioPhotos"
                                        :key="photo.id"
                                        :class="getGridOn ? 'mb-0' : 'mb-5'"
                                >
                                    <photo-card
                                            :photo="photo"
                                            :userid="getUserid"
                                            :height="360"
                                            @likePhoto="likePhotoToggled(photo, index)"
                                            :is-owner="photo.profile.username === getUsername"
                                            @deletePhoto="deletePhoto(photo, index)"
                                            @tagClicked="tagClicked"
                                            @photoClicked="$router.push({name: 'photo', params: {id: photo.id,
                                                slug: photo.slug !== '' ? photo.slug : 'untitled'}})"
                                            :index="index+1"
                                            :theme="getLighting ? 'light' : 'dark'"
                                            :showCommentsOnOpen="showCommentsOnOpen"
                                            :gridOn="getGridOn"
                                    >
                                    </photo-card>
                                </v-flex>
                            </template>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
        <v-container>
            <v-snackbar
                    :timeout="timeout"
                    :color="context"
                    :right="true"
                    v-model="snackbar"
            >
                {{ text }}
                <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
            </v-snackbar>
        </v-container>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import store from 'vuex'
    import {mapGetters} from 'vuex'
    import PhotoCard from './PhotoCard.vue'
    import Comment from './Comment.vue'
    import Profile from './Profile.vue'

    const TIMEOUT = 2000
    const PHOTO_SUBMITTED_MSG = "Photo deleted!"
    const EMPTY_ALBUM_MSG = "Upload your first photo!"

    export default {
        components: {
            PhotoCard,
            Comment,
            Profile
        },
        data() {
            return {
                searchTags: [],
                dialog: false,
                timeout: TIMEOUT,
                snackbar: false,
                context: 'success',
                mode: '',
                text: PHOTO_SUBMITTED_MSG,
                portfolioUser: '',
                portfolioUserid: null,
                sortType: '',
                showCommentsOnOpen: false,
                portfolioProfile: null
            }
        },
        beforeRouteUpdate(to, from, next) {
            if (to.params['username'] !== from.params['username']) {
                this.portfolioUser = to.params['username']
                this.portfolioUserid = to.params['userid']
                this.$store.dispatch('userProfile', {
                    id: this.portfolioUserid
                }).then(res => {
                    this.$store.commit('SET_PORTFOLIO_USERID', res.data['id'])
                    this.portfolioProfile = res.data
                    next()
                    this.search()
                    this.searchTags = []
                })
            } else {
                next()
                this.search()
            }
        },
        created() {
            this.gridOn = this.getGridOn
            this.portfolioUser = this.$route.params['username']
            this.portfolioUserid = this.$route.params['userid']
            this.sortType = this.$route.query['sortType']
            this.$store.dispatch('userProfile', {
                id: this.portfolioUserid
            }).then(res => {
                this.$store.commit('SET_PORTFOLIO_USERID', res.data['id'])
                this.portfolioProfile = res.data
                this.search()
            })
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getPortfolioPhotos',
                'getCommunityTags',
                'getLoading',
                'getLighting',
                'getPortfolioUserid',
                'getGridOn',
                'getUserProfile'
            ])
        },
        methods: {
            search() {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('getPortfolioUser', {
                    id: this.getPortfolioUserid,
                    tags: JSON.stringify(this.$route.query['tags']) || '[]',
                    sortType: this.$route.query['sortType']
                }).then(res => {
                    this.$store.commit('SET_PORTFOLIO_PHOTOS', res.data)
                    if (res.data.length < 1) {
                        this.text = EMPTY_ALBUM_MSG
                        this.context = 'error'
                        this.snackbar = true
                    }
                    this.$store.commit('STOP_LOADING')
                })
            },
            changeRoute() {
                console.log('changing route')
                this.$router.push({
                    name: 'portfolio',
                    params: {username: this.portfolioUser, userid: this.portfolioUserid},
                    query: {
                        tags: this.searchTags.slice(),
                        sortType: this.sortType
                    }
                })
            },
            likePhotoToggled(photo, index) {
                this.$store.dispatch('likePhoto', {
                    id: photo.id
                }).then(res => {
                    this.$store.commit('SET_PORTFOLIO_PHOTO_LIKES', {
                        index: index,
                        photo: res.data
                    })
                }).catch(err => {
                    console.log(err)
                })
            },
            deletePhoto(photo) {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('deletePortfolioPhoto', {
                    id: photo.id
                }).then(res => {
                    this.$store.dispatch('getCommunityTags')
                    this.$store.commit('STOP_LOADING')
                    this.snackbar = true
                }).catch(err => {
                    this.$store.commit('STOP_LOADING')
                    console.log(err)
                })
            },
            tagClicked(tag) {
                if (!this.searchTags.includes(tag.tag)) {
                    this.searchTags.push(tag.tag)
                }
                this.changeRoute()
            }
        }
    }
</script>
