<template>
    <v-container fill-height>
        <v-layout row wrap class="mt-0 pa-0">
            <v-flex xs6>
                <v-layout row wrap>
                    <v-flex xs12 d-flex >
                        <v-card :dark="!getLighting">
                            <v-card-media :src="profile.media_url"
                                          :height="360"
                                          contain
                                          v-if="profile.media_url"
                                          :class="(getLighting ? 'grey lighten-4 white--text' : 'black white--text')"
                            >
                            </v-card-media>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex xs6>
                <v-layout row >
                    <v-flex xs12 d-flex>
                        <v-card :dark="!getLighting">
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-layout v-if="getLoading && allowEdit">
                                    <v-flex>
                                        <v-chip outline
                                                class="alert"
                                                label
                                        >
                                            <span>Updating profile info...</span>
                                        </v-chip>
                                    </v-flex>
                                </v-layout>
                                <v-spacer></v-spacer>
                                <v-btn
                                        color="primary"
                                        fab
                                        v-model="lock"
                                        @click.native="updateProfile"
                                        :dark="!getLighting"
                                        :loading="getLoading"
                                        v-if="(profile.id === getUserid) &&
                                        allowEdit"
                                >
                                    <v-icon v-if="lock">edit</v-icon>
                                    <v-icon v-else>lock_open</v-icon>
                                </v-btn>
                            </v-card-actions>
                            <v-card-title>
                                <v-layout row>
                                    <v-flex :dark="!getLighting">
                                        <span class="display-1">{{ profile.username }}</span>
                                        <span class="subheading">Joined {{ profile.created | moment("from", "now") }}</span>
                                    </v-flex>
                                </v-layout>
                            </v-card-title>
                            <v-divider></v-divider>
                            <v-card-text>
                                <v-layout row>
                                    <v-flex v-if="profile.id===getUserid && lock" xs12 class="mt-0 mb-2">
                                        <span class="caption">This is what your public profile looks like.</span>
                                    </v-flex>
                                </v-layout>
                                <v-text-field
                                        label="Image URL"
                                        v-if="profile.id===getUserid &&  !lock"
                                        v-model="media_url"
                                        :placeholder="profile.media_url"
                                        hint="link to profile image url"
                                        prepend-icon="portrait"
                                        :disabled="lock"
                                        :dark="!getLighting"
                                        clearable
                                ></v-text-field>
                                <v-flex v-if="lock">
                                    <v-layout row>
                                        <v-flex xs12>
                                            <span class="title">About me</span>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row>
                                        <v-flex xs12>
                                            <span>
                                                <v-icon class="mr-1">fa-quote-left</v-icon>
                                                <span class="body-1">{{ profile.bio }}</span>
                                            </span>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                                <v-flex v-if="profile.id===getUserid &&  !lock">
                                    <v-text-field
                                            label="Bio (optional)"
                                            v-model="bio"
                                            multi-line
                                            :counter="255"
                                            :max="255"
                                            auto-grow
                                            prepend-icon="format_quote"
                                            :rules="commentRules"
                                            :dark="!getLighting"
                                            :disabled="lock"
                                            clearable
                                            rows="2"
                                            placeholder="Tell people a little about yourself."
                                    >
                                    </v-text-field>
                                </v-flex>
                                <v-layout row>
                                    <v-flex xs5>
                                        <v-text-field
                                                v-if="profile.id===getUserid && !lock"
                                                label="First Name"
                                                v-model="firstname"
                                                prepend-icon="info_outline"
                                                :disabled="lock"
                                                :dark="!getLighting"
                                        >
                                        </v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field
                                                v-if="profile.id===getUserid && !lock"
                                                label="Last Name"
                                                v-model="lastname"
                                                prepend-icon="info_outline"
                                                :disabled="lock"
                                                :dark="!getLighting"
                                        >
                                        </v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
        <v-snackbar
                :timeout="timeout"
                :multi-line="mode === 'multi-line'"
                :vertical="mode === 'vertical'"
                :right="true"
                :color="context"
                v-model="snackbar"
        >
            {{ text }}
            <v-btn dark flat @click.native="snackbar = false">
                Close
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import store from 'vuex'
    import {mapGetters} from 'vuex'

    const FAKE_TIMEOUT_MS = 500
    const PLACEHOLDER = "https://storage.googleapis.com/duopolly/static/img/placeholder_image_1.png"

    export default {
        data() {
            return {
                commentRules: [
                    (v) => (v.length <= 255) || 'Description must be less than 255 characters'
                ],
                firstname: null,
                lastname: null,
                bio: null,
                media_url: null,
                placeholder_media_url: PLACEHOLDER,
                timeout: 1500,
                snackbar: false,
                context: 'success',
                mode: '',
                text: null,
                lock: true,
                left: true
            }
        },
        props: {
            profile: {
                type: Object,
                default: null
            },
            allowEdit: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapGetters([
                'getUserid',
                'getLoading',
                'getLighting'
            ])
        },
        created() {
            this.media_url = this.profile.media_url
            this.bio = this.profile.bio
            this.firstname = this.profile.first_name
            this.lastname = this.profile.last_name
        },
        methods: {
            sleep(time) {
                return new Promise((resolve) => setTimeout(resolve, time));
            },
            updateProfile() {
                if (this.lock) {
                    this.lock = !this.lock
                } else {
                    this.$store.commit('START_LOADING')
                    this.$store.dispatch('updateProfileInfo', {
                        bio: this.bio || '',
                        media_url: this.media_url || '',
                        first_name: this.firstname || '',
                        last_name: this.lastname || ''
                    }).then(res => {
                        this.sleep(FAKE_TIMEOUT_MS).then(() => {
                            this.$store.commit('SET_USER_PROFILE', res.data)
                            this.context = 'success'
                            this.text = 'Profile updated!'
                            this.snackbar = true
                            this.lock = true
                            this.$store.commit('STOP_LOADING')
                        })
                    }).catch(err => {
                        this.sleep(FAKE_TIMEOUT_MS).then(() => {
                            console.log(err)
                            this.context = 'error'
                            this.text = 'Error updating!'
                            this.snackbar = true
                            this.$store.commit('STOP_LOADING')
                        })
                    })
                }
            }
        }
    }
</script>