<template>
    <profile :profile="getUserProfile"
             :allowEdit="allowEdit"
             v-if="isAuthenticated"
    ></profile>
</template>

<script>
    import axios from 'axios'
    import store from 'vuex'
    import {mapGetters} from 'vuex'
    import Profile from './Profile.vue'

    export default {
        data () {
            return {
                allowEdit: true
            }
        },
        components: {
            Profile
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLoading',
                'getLighting',
                'getUserProfile'
            ])
        },

    }
</script>