<template>
    <v-container fluid grid-list-sm>
        <v-layout row wrap>
            <v-flex
                    v-for="(poll, index) in polls"
                    :key="poll.id"
            >
                <poll-card :poll="poll"
                           @deletePoll="deletePoll(poll, index)"
                ></poll-card>
            </v-flex>
        </v-layout>
        <v-dialog v-model="createPollDialog"
                  transition="dialog-bottom-transition"
                  max-width="600"
                  persistent
        >
            <v-flex>
                <create-poll-dialog @cancelled="createPollDialog=false"
                                    @created="createPoll"
                                    :tags="getCommunityTags"
                                    :errors="errors"
                ></create-poll-dialog>
            </v-flex>
        </v-dialog>
        <v-snackbar
                :timeout="timeout"
                v-model="snackbar"
                :color="context"
                right
        >
            <span class="subheading">{{ text }}</span>
            <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import store from 'vuex'
    import {mapGetters} from 'vuex'
    import {hashName} from "../colors"
    import CreatePhotoContestDialog from './CreatePhotoContestDialog.vue'
    import CreatePollDialog from './CreatePollDialog.vue'
    import PollCard from './PollCard.vue'

    const POLL_CREATED_MSG = "Poll successfully created!"
    const TIMEOUT = 1500


    export default {
        components: {
            CreatePhotoContestDialog,
            CreatePollDialog,
            PollCard
        },
        data() {
            return {
                polls: [],
                createPhotoContestDialog: false,
                createPollDialog: false,
                timeout: TIMEOUT,
                snackbar: false,
                context: 'success',
                mode: '',
                text: POLL_CREATED_MSG,
                errors: [],
                newPoll: null
            }
        },
        created() {
            console.log(this.$route.params)
            this.$store.dispatch('getSavedPolls',
                this.$route.params.userid).then(res => {
                console.log(res.data)
                this.polls = res.data
            })
        },
        beforeRouteUpdate(to,from,next) {
            console.log(to.params)
            this.$store.dispatch('getUserPolls', to.params.userid).then(res => {
                console.log(res.data)
                this.polls = res.data
                next()
            })
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getUserid',
                'getUsername',
                'getCommunityTags',
                'getLoading',
                'getLighting',
                'getGridOn',
                'getAuthToken',
                'getPolls',
                'getUserPolls'
            ])
        },
        methods: {
            badgeColor(name) {
                return `${hashName(name)} ${String("elevation-0")}`
            },
        }
    }
</script>

<style>
    .transparent {
        opacity: 0.7;
    }
</style>