<template>
    <v-container fluid>
        <v-parallax
                :src="image"
                :height="windowSize.y"
        >
            <v-layout row>
                <v-flex sm6 offset-sm3  md4 offset-md4 xl2
                        offset-xl5 class="mt-5">
                    <v-card>
                        <v-toolbar  class="yellow accent-2 elevation-0">
                            <v-toolbar-title>Signup</v-toolbar-title>
                        </v-toolbar>
                        <span v-show="nonfield_errors">
                            <ul>
                                <li v-for="error in nonfield_errors"
                                    class="red--text">{{ error }}</li>
                            </ul>
                            </span>
                        <v-card-text>
                            <v-layout row class="text-xs-center"
                                      v-if="!getLoading">
                                <v-flex xs12 md10 offset-md1 xl8 offset-xl2>
                                        <span class="subheading blue-grey--text">
                                            Create a new user account.
                                        </span>
                                </v-flex>
                            </v-layout>
                            <v-text-field
                                    label="Username"
                                    class="mt-5"
                                    v-model="username"
                                    required
                                    autofocus
                            ></v-text-field>
                            <span v-show="username_errors">
                            <ul>
                                <li v-for="error in username_errors"
                                    class="red--text">{{ error }}</li>
                            </ul>
                        </span>
                            <v-text-field
                                    label="E-mail"
                                    hint="enter a valid e-mail address"
                                    v-model="email"
                                    required
                            ></v-text-field>
                            <span v-show="email_errors">
                            <ul>
                                <li v-for="error in email_errors"
                                    class="red--text">{{ error }}</li>
                            </ul>
                        </span>
                            <v-text-field
                                    v-model="password1"
                                    label="Password"
                                    type="password"
                                    required
                            >
                            </v-text-field>
                            <span v-show="password1_errors">
                            <ul>
                                <li v-for="error in password1_errors"
                                    class="red--text">{{ error }}</li>
                            </ul>
                        </span>
                            <v-text-field
                                    v-model="password2"
                                    label="Re-enter Password"
                                    type="password"
                                    required
                                    persistent-hint
                            >
                            </v-text-field>
                            <span v-show="password2_errors">
                            <ul>
                                <li v-for="error in password2_errors"
                                    class="red--text">{{ error }}</li>
                            </ul>
                        </span>
                            <small class="red--text">*indicates required field
                            </small>
                        </v-card-text>
                        <v-card-actions>
                            <v-chip outline
                                    label
                                    class="alert"
                                    v-if="getLoading"
                            >
                                <span>Registering user...</span>
                            </v-chip>
                            <v-spacer></v-spacer>
                            <v-btn class="primary--text"
                                   flat
                                   @click.native="submitUserInfo"
                                   :loading="getLoading"
                            >
                                Signup
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-parallax>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import store from 'vuex'
    import { mapGetters } from 'vuex'

    const FAKE_TIMEOUT_MS = 500
    const BACKGROUND_IMAGE = "https://storage.googleapis.com/duopolly/static/img/pexels-photo-669015.jpeg"

    export default {
        data() {
            return {
                windowSize: {
                    x: 0,
                    y: 0
                },
                username: null,
                email: null,
                password1: null,
                password2: null,
                username_errors: null,
                email_errors: null,
                password1_errors: null,
                password2_errors: null,
                nonfield_errors: null,
                image: BACKGROUND_IMAGE
            }
        },
        created() {
            this.onResize()
            console.log(this.$route.query['previous'])
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLoading'
            ])
        },
        methods: {
            sleep(time) {
                return new Promise((resolve) => setTimeout(resolve, time));
            },
            setFormNullValues() {
                this.email = null
                this.username = null
                this.password1 = null
                this.password2 = null
            },
            submitUserInfo() {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('signup', {
                    username: this.username,
                    password1: this.password1,
                    password2: this.password2,
                    email: this.email
                }).then(res => {
                    console.log(res)
                    this.$store.commit('SET_TOKEN_AUTH', res.data.key)
                    this.$store.dispatch('storeToken')
                    return this.$store.dispatch('getUserInfo')
                }).then(res => {
                    this.$store.commit('SET_USERID', res.data.pk)
                    this.$store.commit('SET_USERNAME', res.data.username)
                    return this.$store.dispatch('profile')
                }).then(res => {
                    this.$store.commit('SET_USER_PROFILE', res.data)
                    this.$store.commit('STOP_LOADING')
                    return this.$store.dispatch('getCommunityTags')
                }).then(res => {
                    this.$store.commit('SET_COMMUNITY_TAGS', res.data)
                    if (this.$route.query['previous']) {
                        this.$router.push({path: this.$route.query['previous']})
                    } else {
                        this.$router.push({name: 'polls'})
                    }
                }).catch(error => {
                    this.sleep(FAKE_TIMEOUT_MS).then(() => {
                        const response = error.response.data
                        this.setFormNullValues()
                        this.username_errors = response.username
                        this.email_errors = response.email
                        this.password1_errors = response.password1
                        this.password2_errors = response.password2
                        this.nonfield_errors = response.non_field_errors
                        this.$store.commit('STOP_LOADING')
                    })
                })
            },
            onResize() {
                this.windowSize = {
                    x: window.innerWidth,
                    y: window.innerHeight
                }
            },
        }
    }
</script>