<template>
    <v-container fluid>
        <v-layout row>
            <v-flex xs12
            >
                <v-form ref="form" v-model="valid">
                    <v-card :dark="!getLighting">
                        <v-card-title>
                            <span class="headline">Create a new poll option</span>
                            <v-spacer></v-spacer>
                            <v-flex xs2>
                                <v-btn class="error--text"
                                       @click.native.stop="close"
                                       :dark="!getLighting"
                                       flat
                                >
                                    <v-icon>close</v-icon>
                                </v-btn>
                            </v-flex>
                        </v-card-title>
                        <v-card-media
                                :src="image"
                                :class="(!getLighting ? 'black' : 'grey lighten-3') + ' mt-0 mb-0 ml-0 mr-0'"
                                height="320"
                        >
                            <input type="file"
                                   style="display:none"
                                   @change="fileHandler"
                                   ref="fileUploadElement"
                                   accept="image/*"
                                   required
                            >
                            <v-btn @click.native="openFile"
                                   class="primary"
                                   fab
                            >
                                <v-icon large >
                                    add_a_photo
                                </v-icon>
                            </v-btn>
                        </v-card-media>
                        <v-layout row text-xs-center>
                            <v-flex xs12 >
                                    <span class="error--text body-1"
                                          v-if="!rawImgFile"
                                    >
                                        *Image required
                                    </span>
                            </v-flex>
                        </v-layout>
                        <v-card-text>
                            <v-select
                                    :items="items"
                                    v-model="searchTags"
                                    label="Select or create category tags (optional)"
                                    autocomplete
                                    multiple
                                    prepend-icon="styles"
                                    single-line
                                    chips
                                    tags
                                    :rules="tagsRules"
                            >
                                <template slot="selection"
                                          slot-scope="data">
                                    <v-chip
                                            @input="data.parent.selectItem(data.item)"
                                            class="chip--select-multi blue-grey"
                                            :selected="data.selected"
                                            :disabled="data.disabled"
                                            :key="JSON.stringify(data.item)"
                                            outline
                                            close
                                    >
                                        <span class="subheading"
                                        >{{ data.item }}
                                        </span>
                                    </v-chip>
                                </template>
                            </v-select>
                        </v-card-text>
                        <v-card-text>
                            <v-text-field
                                    label="Image title (optional)"
                                    v-model="title"
                                    prepend-icon="title"
                                    :counter="maxTitleLength"
                                    hint="default title is filename"
                                    :max="maxTitleLength"
                                    autofocus
                                    :rules="titleRules"
                                    :dark="!getLighting"
                                    clearable
                                    placeholder="My great photo"
                                    required
                            ></v-text-field>
                        </v-card-text>
                        <v-card-text class="mt-0">
                            <v-text-field
                                    label="Description and technical details (optional)"
                                    v-model="description"
                                    :rules="descriptionRules"
                                    multi-line
                                    :counter="maxDescriptionLength"
                                    :max="maxDescriptionLength"
                                    auto-grow
                                    hint="&ldquo;Used a 105 mm/F2.5 at twilight&rdquo;"
                                    prepend-icon="edit"
                                    loading
                                    :dark="!getLighting"
                                    clearable
                                    rows="2"
                                    placeholder="Put the deets here."
                            >
                                <v-progress-linear slot="progress" :value="progress" :color="color" :height="4">
                                </v-progress-linear>
                            </v-text-field>
                        </v-card-text>
                        <v-card-text v-for="error in errors"
                                     :key="error"
                                     class="red--text text-md-right">
                            <span>{{ error }}</span>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn class="primary"
                                   @click.native="submitPollEntry"
                                   :loading="getLoading"
                                   :disabled="!rawImgFile || !valid"
                                   flat
                            >
                                <v-icon left class="white--text">
                                    file_upload
                                </v-icon>
                                <span>{{ uploadPhotoText }}</span>
                            </v-btn>
                            <v-btn class="warning"
                                   @click.native="clear"
                                   :dark="!getLighting"
                                   flat
                            >
                                <span>Clear</span>
                            </v-btn>
                            <v-btn class="error"
                                   @click.native.stop="close"
                                   :dark="!getLighting"
                                   flat
                            >
                                <span>Cancel</span>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
                <v-snackbar
                        :timeout="timeout"
                        :multi-line="mode === 'multi-line'"
                        :vertical="mode === 'vertical'"
                        :right="true"
                        v-model="snackbar"
                        :color="context"
                >
                    {{ text }}
                    <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
                </v-snackbar>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import store from 'vuex'
    import { mapGetters } from 'vuex'
    import PhotoCard from './PhotoCard.vue'
    import UnlockCounter from './UnlockCounter.vue'

    import sha256 from 'js-sha256'
    import axios from 'axios'
    import _ from 'lodash'

    const PLACEHOLDER = "https://storage.googleapis.com/duopolly/static/img/placeholder_image_1.png"
    const MAX_TAG_NUMBER = 10
    const MAX_TITLE_LENGTH = 50
    const MIN_TITLE_LENGTH = 12
    const MAX_DESCRIPTION_LENGTH = 255
    const MIN_DESCRIPTION_LENGTH = 0
    const TIMEOUT = 3000
    const PHOTO_SUBMITTED_MSG = "New poll entry created!"
    const SELECT_IMAGE_TEXT = "Select image from your computer"
    const UPLOAD_PHOTO_TEXT = "Upload photo"


    export default {
        props: ['poll', 'items', 'pollTags'],
        components: {
            PhotoCard,
            UnlockCounter
        },
        data() {
            return {
                titleRules: [
                    (v) => (v.length <= MAX_TITLE_LENGTH) ||
                        `Title must be less than ${MAX_TITLE_LENGTH} characters`,
                    (v) => (v.length >= MIN_TITLE_LENGTH) ||
                        `Title must be greater than ${MIN_TITLE_LENGTH} characters`,
                ],
                descriptionRules: [
                    (v) => (v.length <= MAX_DESCRIPTION_LENGTH) ||
                        `Description must be less than than ${MAX_DESCRIPTION_LENGTH} characters`,
                    (v) => (v.length >= MIN_DESCRIPTION_LENGTH) ||
                        `Description must be greater than ${MIN_DESCRIPTION_LENGTH} characters`,
                ],
                tagsRules: [
                    (v) => (v.length <= MAX_TAG_NUMBER) ||
                        `Can't select more than ${MAX_TAG_NUMBER} tags.`
                ],
                image: PLACEHOLDER,
                title: '',
                maxTitleLength: MAX_TITLE_LENGTH,
                description: '',
                maxDescriptionLength: MAX_DESCRIPTION_LENGTH,
                searchTags: this.pollTags,
                maxNumberTags: MAX_TAG_NUMBER,
                errors: null,
                timeout: TIMEOUT,
                snackbar: false,
                context: 'success',
                mode: '',
                text: PHOTO_SUBMITTED_MSG,
                rawImgFile: null,
                fileType: null,
                selectImageText: SELECT_IMAGE_TEXT,
                uploadPhotoText: UPLOAD_PHOTO_TEXT,
                fullSize: true,
                valid: false
            }
        },
        created() {
            this.image = PLACEHOLDER
//            console.log(this.pollTags)
        },
        mount() {
            this.image = PLACEHOLDER
//            console.log(this.poll.tags)
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLoading',
                'getCommunityTags',
                'getLighting'
            ]),
            progress() {
                return Math.min(100, 100*this.description.length / MAX_DESCRIPTION_LENGTH)
            },
            color() {
                return ['info', 'error'][Math.floor(this.progress / 101)]
            }
        },
        methods: {
            fileHandler(event) {
                const files = event.target.files
                this.rawImgFile = files[0]
                this.readImageFile(files[0])
                // TODO: Add some validation of file type/size etc.
            },
            openFile() {
                this.$refs.fileUploadElement.click()
            },
            readImageFile(img) {
                const reader = new FileReader()
                this.image = null
                this.description = ''
                this.title = img.name
                reader.onloadend = (e) => {
                    this.image = e.target.result
                    this.errors = null
                }
                reader.readAsDataURL(img)
            },
            close() {
                this.$emit('closed')
                this.image = PLACEHOLDER
                this.items = this.getCommunityTags
                this.title = ''
                this.description=''
                this.errors = []
                this.searchTags = this.pollTags
            },
            clear() {
                this.image = PLACEHOLDER
                this.items = this.getCommunityTags
                this.title = ''
                this.description = ''
                this.errors = []
                this.searchTags = this.pollTags
                this.rawImgFile = null
                this.image = PLACEHOLDER
            },
            submitPollEntry() {
                this.$store.commit('START_LOADING')
                this.errors = []
                this.$store.dispatch('submitPollEntry', {
                    title: this.title,
                    hash: sha256(this.image),
                    description: this.description,
                    size: this.rawImgFile.size,
                    photo: this.rawImgFile,
                    poll: this.poll.id,
                    tags: this.searchTags
                }).then(res => {
                    this.$store.commit('STOP_LOADING')
                    this.$emit('uploadCompleted', res.data)
                    this.clear()
                }).catch(err => {
                    console.log(err.response.data)
                    this.errors = err.response.data
                    this.$store.commit('STOP_LOADING')
                })
            }
        }
    }

</script>

<style>
    blockquote {
        opacity: 0.5;
    }
</style>