<template>
    <v-container fluid>
        <v-layout row>
            <v-flex xs12
            >
                <v-card :dark="!getLighting">
                    <v-card-actions autofocus>
                        <v-layout row>
                            <v-flex xs10>
                                <v-btn @click.native="openFile" class="primary" flat>
                                    <v-icon left >
                                        add_a_photo
                                    </v-icon>
                                    <span>{{ selectImageText }}</span>
                                </v-btn>
                                <input type="file"
                                       style="display:none"
                                       @change="fileHandler"
                                       ref="fileUploadElement"
                                       accept="image/jpeg"
                                >
                            </v-flex>
                            <v-spacer></v-spacer>
                            <v-flex xs2>
                                <v-btn class="error--text"
                                       @click.native.stop="close"
                                       :dark="!getLighting"
                                       flat
                                >
                                    <v-icon>close</v-icon>
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-card-actions>
                    <v-card-media
                            :src="image"
                            :class="(!getLighting ? 'black' : 'grey lighten-3') + ' mt-0 mb-0 ml-0 mr-0'"
                            height="360"
                            contain
                    >
                    </v-card-media>
                    <v-card-text>
                        <v-select
                                :items="items"
                                v-model="searchTags"
                                label="Select or create category tags (optional)"
                                autocomplete
                                multiple
                                prepend-icon="styles"
                                single-line
                                chips
                                tags
                        >
                            <template slot="selection"
                                      slot-scope="data">
                                <v-chip
                                        @input="data.parent.selectItem(data.item)"
                                        class="chip--select-multi blue-grey"
                                        :selected="data.selected"
                                        :disabled="data.disabled"
                                        :key="JSON.stringify(data.item)"
                                        outline
                                        close
                                >
                                        <span class="body-2 "
                                        >{{ data.item }}
                                        </span>
                                </v-chip>
                            </template>
                        </v-select>
                    </v-card-text>
                    <v-card-text>
                        <v-text-field
                                label="Image title (optional)"
                                v-model="title"
                                prepend-icon="title"
                                :counter="maxTitleLength"
                                hint="default title is filename"
                                :max="maxTitleLength"
                                autofocus
                                :rules="titleRules"
                                :dark="!getLighting"
                                clearable
                                placeholder="My great photo"
                        ></v-text-field>
                    </v-card-text>
                    <v-card-text class="mt-0">
                        <v-text-field
                                label="Description and technical details (optional)"
                                v-model="description"
                                multi-line
                                :counter="maxDescriptionLength"
                                :max="maxDescriptionLength"
                                auto-grow
                                hint="&ldquo;Used a 105 mm/F2.5 at twilight&rdquo;"
                                prepend-icon="edit"
                                loading
                                :rules="commentRules"
                                :dark="!getLighting"
                                clearable
                                rows="2"
                                placeholder="Put the deets here."
                        >
                            <v-progress-linear slot="progress" :value="progress" :color="color" :height="4">
                            </v-progress-linear>
                        </v-text-field>
                    </v-card-text>
                    <v-card-text v-for="error in errors"
                                 :key="error"
                                 class="red--text text-md-right">
                        <span>{{ error }}</span>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn class="primary"
                               @click.native="submitPhoto"
                               :loading="getLoading"
                               :disabled="!rawImgFile || (getUserCredits<=0)"
                               flat
                        >
                            <v-icon left class="white--text">
                                file_upload
                            </v-icon>
                            <span>{{ uploadPhotoText }}</span>
                        </v-btn>
                        <v-btn class="warning"
                               @click.native="clear"
                               :dark="!getLighting"
                               flat
                        >
                            <span>Clear</span>
                        </v-btn>
                        <v-btn class="error"
                               @click.native.stop="close"
                               :dark="!getLighting"
                               flat
                        >
                            <span>Cancel</span>
                        </v-btn>
                    </v-card-actions>
                    <v-card-text>
                        <unlock-counter
                                :userCredits="getUserCredits"
                                :votesUnlock="getVotesUnlock"
                                :theme="getLighting ? 'light' : 'dark'"
                        ></unlock-counter>
                    </v-card-text>
                </v-card>
                <v-snackbar
                        :timeout="timeout"
                        :multi-line="mode === 'multi-line'"
                        :vertical="mode === 'vertical'"
                        :right="true"
                        v-model="snackbar"
                        :color="context"
                >
                    {{ text }}
                    <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
                </v-snackbar>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import store from 'vuex'
    import { mapGetters } from 'vuex'
    import PhotoCard from './PhotoCard.vue'
    import UnlockCounter from './UnlockCounter.vue'

    import sha256 from 'js-sha256'
    import axios from 'axios'
    import _ from 'lodash'

    const PLACEHOLDER = "https://storage.googleapis.com/duopolly/static/img/placeholder_image_1.png"
    const MAX_TAG_NUMBER = 10
    const MAX_TITLE_LENGTH = 80
    const MAX_DESCRIPTION_LENGTH = 255
    const TIMEOUT = 3000
    const PHOTO_SUBMITTED_MSG = "Photo submitted!"
    const SELECT_IMAGE_TEXT = "Select image from your computer"
    const UPLOAD_PHOTO_TEXT = "Upload photo"


    export default {
        components: {
            PhotoCard,
            UnlockCounter
        },
        data() {
            return {
                commentRules: [
                    (v) => (v.length <= MAX_DESCRIPTION_LENGTH) || 'Description must be less than 255 characters'
                ],
                titleRules: [
                    (v) => (v.length <= MAX_TITLE_LENGTH) || 'Title must be less than 80 characters'
                ],
                items: [],
                image: null,
                title: '',
                maxTitleLength: MAX_TITLE_LENGTH,
                description: '',
                maxDescriptionLength: MAX_DESCRIPTION_LENGTH,
                searchTags: [],
                maxNumberTags: MAX_TAG_NUMBER,
                errors: null,
                timeout: TIMEOUT,
                snackbar: false,
                context: 'success',
                mode: '',
                text: PHOTO_SUBMITTED_MSG,
                rawImgFile: null,
                fileType: null,
                selectImageText: SELECT_IMAGE_TEXT,
                uploadPhotoText: UPLOAD_PHOTO_TEXT,
                fullSize: true,
            }
        },
        created() {
            this.image = PLACEHOLDER
            this.items = this.getCommunityTags
            this.title = ''
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getLoading',
                'getCommunityTags',
                'getUserCredits',
                'getVotesUnlock',
                'getLighting'
            ]),
            progress() {
                return Math.min(100, 100*this.description.length / MAX_DESCRIPTION_LENGTH)
            },
            color() {
                return ['info', 'error'][Math.floor(this.progress / 101)]
            }
        },
        methods: {
            fileHandler(event) {
                const files = event.target.files
                this.rawImgFile = files[0]
                this.readImageFile(files[0])
                // TODO: Add some validation of file type/size etc.
            },
            openFile() {
                this.$refs.fileUploadElement.click()
            },
            readImageFile(img) {
                const reader = new FileReader()
                this.image = null
                this.description = ''
                this.title = img.name
                reader.onloadend = (e) => {
                    this.image = e.target.result
                    this.searchTags = []
                    this.errors = null
                }
                reader.readAsDataURL(img)
            },
            close() {
                this.$emit('closed')
                this.image = PLACEHOLDER
                this.items = this.getCommunityTags
                this.title = ''
                this.searchTags=[]
                this.description=''
                this.errors = []
            },
            clear() {
                this.image = PLACEHOLDER
                this.items = this.getCommunityTags
                this.title = ''
                this.searchTags = []
                this.description = ''
                this.errors = []
            },
            submitPhoto() {
                this.$store.commit('START_LOADING')
                this.errors = []
                this.$store.dispatch('submitPhoto', {
                    title: this.title || '',
                    photo: this.rawImgFile,
                    tags: JSON.stringify(this.searchTags),
                    hash: sha256(this.image),
                    description: this.description,
                    size: this.rawImgFile.size
                }).then(res => {
                    this.$store.commit('DECREMENT_USER_CREDITS')
                    this.$store.commit('ADD_PORTFOLIO_PHOTO', res.data)
                    return this.$store.dispatch('getCommunityTags')
                }).then(res => {
                    this.$store.commit('SET_COMMUNITY_TAGS', res.data)
                    this.image = PLACEHOLDER
                    this.title = null
                    this.description = ''
                    this.searchTags = []
                    this.context = 'success'
                    this.snackbar = true
                    this.text = "Photo submitted!"
                    this.loading = false
                    this.rawImgFile = null
                    this.$store.commit('STOP_LOADING')
                    this.image = PLACEHOLDER
                    this.items = this.getCommunityTags
                    this.$router.push({name:'portfolio', params: {username: this.getUsername, userid: this.getUserid},
                        query: {tags: [], sortType: 'created'}})
                    this.$emit('uploadCompleted')
                }).catch(err => {
                    this.loading = false
                    this.text = "Submission failed!"
                    this.context = 'error'
                    this.snackbar = true
                    this.errors.push(err.response.data)
                    this.$store.commit('STOP_LOADING')
                    this.emit('uploadFailed')
                })
            }
        }
    }

</script>

<style>
    blockquote {
        opacity: 0.5;
    }
</style>