<template>
    <v-layout row wrap>
        <v-flex xs12 class="text-xs-center">
            <span class="body-1">You have </span>
            <span>
            <v-chip small label outline class="body-2 blue-grey lighten-2" v-if="!unlocked && (userCredits>0)">
                {{ userCredits }}
            </v-chip>
            <v-chip small label class="headline error " v-else-if="!unlocked && (userCredits<=0)">
                {{ userCredits }}
            </v-chip>
            <v-chip small label class="body-2 success white--text" v-else>
                {{ userCredits }}
            </v-chip>
            </span>
            <span class="body-1">credits.</span>
            <span class="body-1">You need </span>
            <span>
                <v-chip small label outline class="body-2 blue-grey lighten-2" v-if="!voted">
                    {{ votesUnlock }}
                    <v-icon right class="white--text">fa-check-square-o</v-icon>

                </v-chip>
                <v-chip small label class="body-2 light-blue lighten-2 white--text" v-else>
                    {{ votesUnlock }}
                    <v-icon right class="white--text">fa-check-square-o</v-icon>
                </v-chip>
            </span>
            <span class="body-1"> to earn</span>
            <span><v-icon :dark="theme==='dark'">plus_one</v-icon></span>
            <span>credit.</span>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        data() {
            return {}
        },
        props: ['userCredits', 'votesUnlock', 'voted', 'unlocked', 'theme']
    }
</script>

<style>

</style>