<template>
    <v-container fluid grid-list-sm>
        <v-tabs v-model="activeTab" centered :scrollable="false">
            <v-toolbar dense :dark="!getLighting" class="mb-3">
                <v-text-field
                        v-model="searchQuery"
                        prepend-icon="search"
                        hint="Search for tags, titles, descriptions, and users."
                        placeholder="cute kittens"
                        @keyup.enter="searchPolls"
                        :prepend-icon-cb="searchPolls"
                        class="elevation-0"
                        clearable
                ></v-text-field>
                <v-tabs-bar slot="extension" >
                    <v-tabs-slider color="primary"></v-tabs-slider>
                    <v-tabs-item href="#unactivated" v-if="$route.params.username===getUsername">
                        <v-icon medium class="mr-1 warning--text">mdi-creation</v-icon>
                        <span class="hidden-xs-only">Pre-Launch</span>
                    </v-tabs-item>
                    <v-tabs-item href="#open">
                        <v-icon medium class=" mr-1 primary--text">fa-clock-o</v-icon>
                        <span class="hidden-xs-only">Open</span>
                    </v-tabs-item>
                    <v-tabs-item href="#closed">
                        <v-icon medium class=" mr-1 error--text">check_circle</v-icon>
                        <span class="hidden-xs-only">Closed</span>
                    </v-tabs-item>
                    <v-tabs-item href="#saved">
                        <v-icon medium class=" mr-1 success--text">bookmark</v-icon>
                        <span class="hidden-xs-only">Following</span>
                    </v-tabs-item>
                </v-tabs-bar>
            </v-toolbar>
            <v-layout column wrap>
                <v-flex class="text-xs-center">
                    <v-flex v-if="userProfile.media_url"
                    >
                        <v-avatar size="60px" class="elevation-0" >
                            <img :src="userProfile.media_url">
                            <v-progress-circular :size="78" :width="4" indeterminate
                                                 style="position:absolute;"
                                                 color="primary"
                                                 v-if="showInitialLoadingProgressBar || getLoading"
                            ></v-progress-circular>
                        </v-avatar>
                    </v-flex>
                    <v-flex v-else>
                        <v-avatar
                                :class="badgeColor(userProfile.username) + ' hidden-sm-and-down'"
                                size="60px"
                        >
                            <span
                                    class="display-1 white--text"
                            >
                                {{ userProfile.username.slice(0, 1).toUpperCase() }}
                            </span>
                            <v-progress-circular :size="78" :width="4" indeterminate
                                                 style="position:absolute;"
                                                 color="primary"
                                                 v-if="showInitialLoadingProgressBar"
                            ></v-progress-circular>
                        </v-avatar>
                        <v-avatar
                                :class="badgeColor(userProfile.username) + ' hidden-md-and-up'"
                                size="42px"
                        >
                            <span
                                    class="headline white--text"
                            >
                                {{ userProfile.username.slice(0, 1).toUpperCase() }}
                            </span>
                            <v-progress-circular :size="52" :width="2" indeterminate
                                                 style="position:absolute;"
                                                 color="primary"
                                                 v-if="showInitialLoadingProgressBar"
                            ></v-progress-circular>
                        </v-avatar>
                    </v-flex>
                </v-flex>
                <v-layout column align-center>
                    <v-flex >
                        <span class="headline hidden-sm-and-down">
                            {{ userProfile.username }}
                        </span>
                        <span class="subheading hidden-md-and-up">
                            {{ userProfile.username }}
                        </span>
                        <span class="caption">
                            signed up {{ userProfile.created | moment("from",
                            "now") }}
                        </span>
                    </v-flex>
                </v-layout>
                <v-layout column wrap align-center
                          v-if="showInitialLoadingProgressBar"
                >
                    <v-flex class="subheading mt-2">
                                            <span :class="getLighting ? 'grey--text text--darken-2' : 'grey--text text--lighten-2'"
                                            >loading poll data...this may take a few seconds</span>
                    </v-flex>
                </v-layout>
            </v-layout>
            <call-to-action-buttons v-if="!getUserid" :signup="true" :login="true" :guest="false"
            ></call-to-action-buttons>
            <v-layout column wrap align-center>
                <v-flex>
                <span v-if="!getUserid"
                      :class="getLighting ? 'grey--text text--darken-2' : 'grey--text text--lighten-2'"
                >Must be registered to vote or see results.</span>
                </v-flex>
            </v-layout>
            <v-tabs-items>
                <v-layout row wrap v-if="getUserid===$route.params.userid">
                    <v-flex class="text-xs-center "
                            d-flex
                    >
                        <v-card :dark="!getLighting"
                        >
                            <v-card-actions>
                                <v-layout column align-center justify-center>
                                    <v-btn @click.native="createPollDialog=true"
                                           fab
                                           outline
                                    >
                                        <v-icon large>add</v-icon>
                                    </v-btn>
                                    <span class="body-2"
                                    >
                                            Add
                                        </span>
                                    <v-spacer></v-spacer>
                                </v-layout>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-tabs-content id="unactivated" v-if="$route.params.username===getUsername">
                    <v-layout row wrap class="mt-2">
                        <template>
                            <v-flex
                                    v-for="(poll, index) in userUnactivatedPolls"
                                    :key="poll.id"
                                    xs12 sm6 md4 lg3 xl2
                            >
                                <poll-card :poll="poll"
                                           @deletePoll="deletePoll(poll, index)"
                                           @follow="followPollToggled(poll, index, 'active')"
                                ></poll-card>
                            </v-flex>
                        </template>
                    </v-layout>
                </v-tabs-content>
                <v-tabs-content id="open" >
                    <v-layout row wrap class="mt-2">
                        <template>
                            <v-flex
                                    v-for="(poll, index) in userOpenPolls"
                                    :key="poll.id"
                                    xs12 sm6 md4 lg3 xl2
                            >
                                <poll-card :poll="poll"
                                           @deletePoll="deletePoll(poll, index)"
                                           @follow="followPollToggled(poll, index, 'active')"
                                ></poll-card>
                            </v-flex>
                        </template>
                    </v-layout>
                </v-tabs-content>
                <v-tabs-content id="closed" >
                    <v-layout row wrap class="mt-2">
                        <template>
                            <v-flex
                                    v-for="(poll, index) in userClosedPolls"
                                    :key="poll.id"
                                    xs12 sm6 md4 lg3 xl2
                            >
                                <poll-card :poll="poll"
                                           @deletePoll="deletePoll(poll, index)"
                                           @follow="followPollToggled(poll, index, 'active')"
                                ></poll-card>
                            </v-flex>
                        </template>
                    </v-layout>
                </v-tabs-content>
                <v-tabs-content id="saved">
                    <v-layout row wrap class="mt-2">
                        <v-flex
                                v-for="(poll, index) in userSavedPolls"
                                :key="poll.id"
                                xs12 sm6 md4 lg3 xl2
                        >
                            <poll-card :poll="poll"
                                       @deletePoll="deletePoll(poll, index)"
                                       @follow="followPollToggled(poll, index, 'closed')"
                            ></poll-card>
                        </v-flex>
                    </v-layout>
                </v-tabs-content>
            </v-tabs-items>
        </v-tabs>
        <v-dialog v-model="createPollDialog"
                  transition="dialog-bottom-transition"
                  max-width="600"
                  persistent
        >
            <v-flex>
                <create-poll-dialog @cancelled="createPollDialog=false"
                                    @created="createPoll"
                                    :tags="getCommunityTags"
                                    :errors="errors"
                ></create-poll-dialog>
            </v-flex>
        </v-dialog>
        <v-snackbar
                :timeout="timeout"
                v-model="snackbar"
                :color="context"
                right
        >
            <span class="subheading">{{ text }}</span>
            <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import store from 'vuex'
    import {mapGetters} from 'vuex'
    import {hashName} from "../colors"
    import CreatePhotoContestDialog from './CreatePhotoContestDialog.vue'
    import CreatePollDialog from './CreatePollDialog.vue'
    import PollCard from './PollCard.vue'
    import CallToActionButtons from './CallToActionButtons.vue'

    const POLL_CREATED_MSG = "Poll successfully created!"
    const TIMEOUT = 1500


    export default {
        components: {
            CreatePhotoContestDialog,
            CreatePollDialog,
            PollCard,
            CallToActionButtons
        },
        data() {
            return {
                userOpenPolls: [],
                userClosedPolls: [],
                userSavedPolls: [],
                userUnactivatedPolls: [],
                createPhotoContestDialog: false,
                createPollDialog: false,
                userProfile: null,
                timeout: TIMEOUT,
                snackbar: false,
                context: 'success',
                mode: '',
                text: POLL_CREATED_MSG,
                errors: [],
                newPoll: null,
                searchQuery: '',
                activeTab: 'open',
                showInitialLoadingProgressBar: true
            }
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getUserid',
                'getUsername',
                'getCommunityTags',
                'getLoading',
                'getLighting',
            ])
        },
        created() {
            let userid = this.$route.params.userid
            this.$store.dispatch('userProfile', {id: userid}).then(res => {
                this.userProfile = res.data
            }).catch(err => {
                console.log(err.response)
            })
            if (userid===this.getUserid) {
                this.$store.dispatch('getUserOpenPolls', userid).then(res => {
                    this.userOpenPolls = res.data
                    return this.$store.dispatch('getUserClosedPolls', userid)
                }).then(res => {
                    this.userClosedPolls = res.data
                    return this.$store.dispatch('getUserSavedPolls', userid)
                }).then(res => {
                    this.userSavedPolls = res.data
                    return this.$store.dispatch('getUserUnactivatedPolls', userid)
                }).then(res => {
                    this.userUnactivatedPolls = res.data
                    return this.$store.dispatch('getCommunityTags')
                }).then(res => {
                    this.$store.commit('SET_COMMUNITY_TAGS', res.data)
                    this.showInitialLoadingProgressBar = false
                }).catch(err => {
                    this.showInitialLoadingProgressBar = false
                    console.log(err.response)
                })
            } else {
                this.$store.dispatch('getUserOpenPollsPublic', userid).then(res => {
                    this.userOpenPolls = res.data
                    return this.$store.dispatch('getUserClosedPollsPublic', userid)
                }).then(res => {
                    this.userClosedPolls = res.data
                    return this.$store.dispatch('getUserSavedPollsPublic', userid)
                }).then(res => {
                    this.userSavedPolls = res.data
                    return this.$store.dispatch('getUserUnactivatedPolls', userid)
                }).then(res => {
                    this.userUnactivatedPolls = res.data
                    return this.$store.dispatch('getCommunityTags')
                }).then(res => {
                    this.$store.commit('SET_COMMUNITY_TAGS', res.data)
                    this.showInitialLoadingProgressBar = false
                }).catch(err => {
                    this.showInitialLoadingProgressBar = false
                    console.log(err.response)
                })
            }
        },
        beforeRouteUpdate(to,from,next) {
            let userid = to.params.userid
            this.$store.dispatch('userProfile', {id: userid}).then(res => {
                this.userProfile = res.data
            }).catch(err => {
                console.log(err.response)
            })
            if (userid===this.getUserid) {
                this.$store.dispatch('getUserOpenPolls', userid).then(res => {
                    this.userOpenPolls = res.data
                    return this.$store.dispatch('getUserClosedPolls', userid)
                }).then(res => {
                    this.userClosedPolls = res.data
                    return this.$store.dispatch('getUserSavedPolls', userid)
                }).then(res => {
                    this.userSavedPolls = res.data
                    return this.$store.dispatch('getUserUnactivatedPolls', userid)
                }).then(res => {
                    this.userUnactivatedPolls = res.data
                    this.showInitialLoadingProgressBar = false
                    next()
                }).catch(err => {
                    this.showInitialLoadingProgressBar = false
                    console.log(err.response)
                })
            } else {
                this.$store.dispatch('getUserOpenPollsPublic', userid).then(res => {
                    this.userOpenPolls = res.data
                    return this.$store.dispatch('getUserClosedPollsPublic', userid)
                }).then(res => {
                    this.userClosedPolls = res.data
                    return this.$store.dispatch('getUserSavedPollsPublic', userid)
                }).then(res => {
                    this.userSavedPolls = res.data
                    return this.$store.dispatch('getUserUnactivatedPolls', userid)
                }).then(res => {
                    this.userUnactivatedPolls = res.data
                    this.showInitialLoadingProgressBar = false
                    next()
                }).catch(err => {
                    this.showInitialLoadingProgressBar = false
                    next()
                    console.log(err.response)
                })
            }
        },
        methods: {
            badgeColor(name) {
                return `${hashName(name)} ${String("elevation-0")}`
            },
            createPhotoContest() {
                console.log('created photo contest')
            },
            createPoll(poll) {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('createPoll', {
                    title: poll.title,
                    description: poll.description,
                    tags: poll.tags,
                    photo: poll.photo,
                    isPollPrivate: poll.isPollPrivate
                }).then(res => {
                    this.createPollDialog = false
                    this.userUnactivatedPolls.unshift(res.data)
                    this.newPoll = res.data
                    return this.$store.dispatch('getCommunityTags')
                }).then(res => {
                    this.$store.commit('SET_COMMUNITY_TAGS', res.data)
                    this.$router.push({name: 'poll', params: {id: this.newPoll.id, slug: this.newPoll.slug}})
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    console.log(err.response.data)
                    this.errors = err.response.data
                    this.$store.commit('STOP_LOADING')
                })
            },
            searchPolls() {
                if (!this.searchQuery || this.searchQuery.length === 0 ) {
                    this.$router.push({name: 'polls'})
                } else {
                    this.$router.push({name: 'polls', query: {search: this.searchQuery}})
                }
            },
            deletePoll(poll, index) {
                this.$store.commit('START_LOADING')
                this.$store.dispatch('deletePoll', poll.id).then(res => {
                    return this.$store.dispatch('getUserOpenPolls', this.getUserid)
                }).then(res => {
                    this.userOpenPolls = res.data
                    return this.$store.dispatch('getUserClosedPolls', this.getUserid)
                }).then(res => {
                    this.userClosedPolls = res.data
                    return this.$store.dispatch('getUserSavedPolls', this.getUserid)
                }).then(res => {
                    this.userSavedPolls = res.data
                    return this.$store.dispatch('getUserUnactivatedPolls', this.getUserid)
                }).then(res => {
                    this.userUnactivatedPolls = res.data
                    this.text = 'Poll deleted'
                    this.context = 'error'
                    this.snackbar = true
                    this.$store.commit('STOP_LOADING')
                }).catch(err => {
                    this.$store.commit('STOP_LOADING')
                    console.log(err)
                })
            },
            badgeColor(name) {
                return `${hashName(name)} ${String("elevation-0")}`
            },
        }
    }
</script>

<style>
    .transparent {
        opacity: 0.7;
    }
</style>