<template>
    <v-container fluid>
        <v-layout row wrap>
            <v-flex class="mb-5 " xs12 md8 lg6 >
                <v-toolbar prominent :dark="!getLighting" class="elevation-2">
                    <v-flex xs6>
                        <v-select
                                :items="getCommunityTags"
                                v-model="searchTags"
                                label="Select categories"
                                autocomplete
                                multiple
                                prepend-icon="search"
                                single-line
                                chips
                                @input="changeRoute"
                                clearable
                                :dark="!getLighting"
                        >
                            <template slot="selection"
                                      slot-scope="data">
                                <v-chip
                                        @input="data.parent.selectItem(data.item)"
                                        class="chip--select-multi blue-grey"
                                        :selected="data.selected"
                                        :disabled="data.disabled"
                                        :key="JSON.stringify(data.item)"
                                        outline
                                        close
                                >
                                    <span
                                            class="body-2 ">{{
                                        data.item }}
                                        </span>
                                </v-chip>
                            </template>
                        </v-select>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex xs1>
                        <span class="subheading">Mode:</span>
                    </v-flex>
                    <v-flex xs3>
                        <v-layout row>
                            <v-radio-group v-model="voteType" >
                                <v-radio value="random"
                                         :dark="!getLighting"
                                         color="info"
                                >
                                    <span slot="label">
                                        Random
                                    </span>
                                </v-radio>
                                <v-radio value="survivor"
                                         :dark="!getLighting"
                                         color="info"
                                >
                                    <span slot="label">
                                        Survivor
                                    </span>

                                </v-radio>
                            </v-radio-group>
                        </v-layout>
                    </v-flex>
                </v-toolbar>
            </v-flex>
        </v-layout>
        <v-container fluid >
            <v-card :dark="!getLighting" flat :class="(getLighting ? 'white' : 'grey darken-1') + ' pa-0'">
                <v-card-title primary-title >
                    <v-layout row wrap>
                        <v-flex class="text-xs-center" :dark="!getLighting">
                        <span class="display-4">
                            <v-icon x-large >fa-check-square-o
                            </v-icon>
                            Cast your vote!
                            <v-icon x-large >fa-check-square-o
                            </v-icon>
                        </span>
                        </v-flex>
                    </v-layout>
                </v-card-title>
                <v-card-title primary-title>
                    <v-layout row wrap>
                        <v-flex class="text-xs-center">
                            <span class="headline">(Click on preferred
                                image)</span>
                        </v-flex>
                    </v-layout>
                </v-card-title>
                <v-layout row>
                    <v-flex xs12 xl10 offset-xl1 :class="getLighting ?
                    'grey darken-4' : 'black'">
                        <v-container fluid grid-list-md>
                            <v-layout row wrap>
                                <v-flex xs12 md6
                                        v-for="(photo, index) in photoOptions"
                                        :key="index"
                                        class="mb-1"
                                        d-flex
                                >
                                    <photo-card
                                            :photo="photo"
                                            :userid="getUserid"
                                            :height="500"
                                            :is-owner="photo.owner === getUsername"
                                            :hide-social="true"
                                            @likeToggled="likePhoto(photo, index)"
                                            @tagClicked="tagClicked"
                                            @photoClicked="photoClicked(photo, index)"
                                            v-if="index !== loser"
                                            :checked="index === winner"
                                            :theme="getLighting ? 'light' : 'dark'"
                                            :gridOn="true"
                                    >
                                    </photo-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <unlock-counter
                            :userCredits="getUserCredits"
                            :votesUnlock="getVotesUnlock"
                            :unlocked="creditJustUnlocked"
                            :voted="justVoted"
                            :theme="getLighting ? 'light' : 'dark'"
                    ></unlock-counter>
                </v-layout>
                <v-layout row wrap>
                    <v-flex class="text-xs-center mt-5">
                        <span class="title">Can't decide?</span>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs12 class="text-xs-center">
                        <v-btn large
                               flat
                               :loading="getLoading"
                               @click.native="skip"
                               slot="activator"
                        >
                            <v-icon class="pr-2" large>fa-refresh</v-icon>
                            <span>Skip</span>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-container>
        <v-container>
            <v-snackbar
                    :timeout="earn_credit_timeout"
                    :multi-line="mode === 'multi-line'"
                    :vertical="mode === 'vertical'"
                    :right="true"
                    v-model="snackbar"
                    :color="context"
            >
                <span class="subheading">You earned a new credit!</span>
                <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
            </v-snackbar>
        </v-container>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import _ from 'lodash'
    import store from 'vuex'
    import { mapGetters } from 'vuex'
    import PhotoCard from './PhotoCard.vue'
    import UnlockCounter from './UnlockCounter.vue'

    const TIMEOUT = 1500
    const EARN_CREDIT_TIMEOUT = 4000
    const PHOTO_SUBMITTED_MSG = "Your vote"
    const RESET_UNLOCK_VOTES = 10


    export default {
        components: {
            PhotoCard,
            UnlockCounter
        },
        data() {
            return {
                searchTags: [],
                photoOptions: [],
                winningPhoto: null,
                winner: null,
                loser: null,
                timeout: TIMEOUT,
                earn_credit_timeout: EARN_CREDIT_TIMEOUT,
                context: 'success',
                mode: '',
                text: PHOTO_SUBMITTED_MSG,
                snackbar: false,
                voteType: "random",
                votes: [],
                justVoted: false,
                creditJustUnlocked: false
            }
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUserid',
                'getUsername',
                'getCommunityPhotos',
                'getCommunityTags',
                'getLoading',
                'getUserCredits',
                'getVotesUnlock',
                'getLighting'
            ])
        },
        created() {
            this.snackbar = false
            if (typeof(this.$route.query['tags']) === 'string') {
                this.searchTags.push(this.$route.query['tags'])
            } else {
                for (const tag in this.$route.query['tags']) {
                    this.searchTags.push(tag)
                }
            }
            this.search()
        },
        beforeRouteUpdate(to, from, next) {
            this.searchTags = []
            if (typeof(to.query['tags']) === 'string') {
                this.searchTags.push(to.query['tags'])
            } else {
                for (const tag of to.query['tags']) {
                    this.searchTags.push(tag)
                }
            }
            this.search()
            next()
        },
        methods: {
            sleep(time) {
                return new Promise((resolve) => setTimeout(resolve, time));
            },
            shuffle(array) {
                let i = 0
                    , j = 0
                    , temp = null

                for (i = array.length - 1; i > 0; i -= 1) {
                    let j = Math.floor(Math.random() * (i + 1))
                    let temp = array[i]
                    array[i] = array[j]
                    array[j] = temp
                }
                return array
            },
            search() {
                this.$store.dispatch('searchCommunityTags',{
                    tags: JSON.stringify(this.searchTags),
                    sortType: 'created'
                }).then(res => {
                    this.photoOptions =
                        this.shuffle(res.data).filter(photo =>
                            photo.profile.username !== this.getUsername).slice(0, 2)
                    this.$store.commit('STOP_LOADING')
                    this.winningPhoto = null
                    this.winner = null
                    this.loser = null
                })
            },
            replaceOne() {
                let loser = this.loser
                let winningId = this.winningPhoto.id
                this.$store.dispatch('searchCommunityTags', {
                    tags: JSON.stringify(this.searchTags),
                    sortType: 'created'
                }).then(res => {
                    this.photoOptions[loser] =
                        this.shuffle(res.data).filter(photo =>
                            (photo.profile.username !== this.getUsername) && (photo.id !== winningId))[0]
                    this.$store.commit('STOP_LOADING')
                    this.winner = null
                    this.loser = null
                })
            },
            changeRoute() {
                this.$router.push({
                    name: 'vote',
                    query: {tags: this.searchTags}
                })
            },
            likePhoto(photo, index) {
                this.$store.dispatch('likePhoto', {
                    id: photo.id
                }).then(res => {
                    this.photoOptions[index].likes = res.data.likes
                }).catch(err => {
                    console.log(err)
                })
            },
            tagClicked(tag) {
                if (!this.searchTags.includes(tag.tag)) {
                    this.searchTags.push(tag.tag)
                }
                this.changeRoute()
            },
            photoClicked: _.debounce(function (photo, index) {
                this.$store.commit('START_LOADING')
                this.justVoted = true
                if (index === 0) {
                    this.loser = 1
                    this.winner = 0
                } else {
                    this.loser = 0
                    this.winner = 1
                }
                this.winningPhoto = photo
                this.$store.dispatch('vote', {
                    winner: photo.id,
                    loser: this.photoOptions[this.loser].id
                }).then(res => {
                    this.$store.commit('DECREMENT_VOTES_UNLOCK')
                    this.sleep(TIMEOUT).then(() => {
                        this.justVoted = false
                    })
                    if (this.voteType === "random") {
                        this.search()
                    } else {
                        this.replaceOne()
                    }
                    if (this.getVotesUnlock <= 0) {
                        this.creditJustUnlocked = true
                        this.$store.commit('SET_UNLOCK_VOTES', RESET_UNLOCK_VOTES)
                        this.$store.commit('INCREMENT_USER_CREDITS')
                        this.sleep(TIMEOUT).then(() => {
                            this.creditJustUnlocked = false
                        })
                        this.snackbar = true
                    }
                }).catch(err => {
                    console.log(err)
                    this.$store.commit('STOP_LOADING')
                })
            }, 500),
            skip() {
                this.$store.commit('START_LOADING')
                this.photoOptions = []
                this.sleep(TIMEOUT).then(() => {
                    this.search()
                })
            }
        }
    }
</script>

