<template>
    <v-app :class="getLighting ? 'blue-grey lighten-4' : 'blue-grey'" >
        <v-navigation-drawer
                fixed
                temporary
                :clipped="clipped"
                v-model="drawer"
                :dark="!getLighting"
        >
            <v-list :dark="!getLighting" class="pa-2">
                <router-link
                        :to="{name:'profile', params: {userid: getUserid}}"
                >
                    <v-list-tile avatar
                                 ripple
                                 v-if="isAuthenticated"
                    >
                        <v-list-tile-avatar v-if="getUserProfile.media_url !== ''">
                                <img :src="getUserProfile.media_url">
                        </v-list-tile-avatar>
                        <v-list-tile-avatar v-else :class="badgeColor">
                            <v-flex>
                                <span class="title white--text">
                                    {{ getUsername.slice(0, 1).toUpperCase() }}
                                </span>
                            </v-flex>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                {{ getUsername }}
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </router-link>
                <v-divider v-if="isAuthenticated"></v-divider>
                <v-list-tile
                        ripple
                        v-if="!isAuthenticated"
                >
                    <v-list-tile-content>
                        <router-link
                                :to="{name: 'signup'}"
                        >
                            <v-list-tile-title>
                                <v-icon dark left>
                                    perm_identity
                                </v-icon>
                                Signup
                            </v-list-tile-title>
                        </router-link>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="isAuthenticated"
                             ripple
                >
                    <v-list-tile-content>
                        <router-link :to="{name:'polls'}"
                        >
                            <v-list-tile-title>
                                <v-icon>
                                    mdi-cat
                                </v-icon>
                                Home
                            </v-list-tile-title>
                        </router-link>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="isAuthenticated"
                             ripple
                >
                    <v-list-tile-content>
                        <router-link :to="{name:'user', params: {username: getUsername, userid: getUserid}}"
                        >
                            <v-list-tile-title>
                                <v-icon>
                                    poll
                                </v-icon>
                                My Polls
                            </v-list-tile-title>
                        </router-link>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile
                        ripple
                        v-if="isAuthenticated"
                        @click.native="logout"
                >
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <v-icon dark left>exit_to_app
                            </v-icon>
                            Logout
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile
                        ripple
                        v-if="!isAuthenticated"
                >
                    <v-list-tile-content>
                        <router-link
                                :to="'login'"
                        >
                            <v-list-tile-title>
                                <v-icon dark left>
                                    lock_open
                                </v-icon>
                                Login
                            </v-list-tile-title>
                        </router-link>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar  :dark="!getLighting"
                    fixed
                    dense
        >
            <v-toolbar-side-icon
                    @click.native.stop="drawer = !drawer"
            >
            </v-toolbar-side-icon>
            <v-spacer class="hidden-xs-only"></v-spacer>
            <v-toolbar-items>
                <router-link
                        :to="{name:'polls'}"
                >
                    <v-btn flat class="hidden-sm-and-up">
                        <v-icon v-if="$router.currentRoute.name ===
                                'polls'"
                                class="primary--text"
                                large
                        >mdi-cat
                        </v-icon>
                        <v-icon v-else
                                :dark="!getLighting"
                                large
                                class="blue-grey--text"
                        >mdi-cat
                        </v-icon>
                    </v-btn>
                    <v-btn flat class="hidden-xs-only">
                        <v-icon v-if="$router.currentRoute.name ===
                                'polls'"
                                class="primary--text"
                                large
                        >mdi-cat
                        </v-icon>
                        <v-icon v-else
                                :dark="!getLighting"
                                class="blue-grey--text"
                                large
                        >mdi-cat
                        </v-icon>
                        <span v-if="$router.currentRoute.name ===
                                'polls'"
                              class="blue--text"
                        >
                            Home
                        </span>
                        <span v-else class="blue-grey--text">
                            Home
                        </span>
                    </v-btn>
                </router-link>
                <router-link
                        :to="{name:'user', params: {username: getUsername, userid: getUserid}}"
                        v-if="isAuthenticated"
                >
                    <v-btn flat class="hidden-sm-and-up">
                        <v-icon v-if="($router.currentRoute.name ===
                                'user') && ($route.params['username']===getUsername)"
                                class="blue--text"
                                large
                        >poll
                        </v-icon>
                        <v-icon v-else
                                :dark="!getLighting"
                                large
                                class="blue-grey--text"
                        >poll
                        </v-icon>
                    </v-btn>
                    <v-btn flat class="hidden-xs-only">
                        <v-icon v-if="($router.currentRoute.name ===
                                'user') && ($route.params['username']===getUsername)"
                                class="primary--text"
                                large
                        >poll
                        </v-icon>
                        <v-icon v-else
                                :dark="!getLighting"
                                large
                                class="blue-grey--text"
                        >poll
                        </v-icon>
                        <span v-if="($router.currentRoute.name ===
                                'user') && ($route.params['username']===getUsername)"
                              class="primary--text"
                        >
                            My Polls
                        </span>
                        <span v-else
                              class="blue-grey--text"
                        >
                            My Polls
                        </span>
                    </v-btn>
                </router-link>
                <router-link
                        :to="{name:'signup'}"
                        v-if="!isAuthenticated">
                    <v-btn flat class="hidden-xs-only">
                        <v-icon v-if="$router.currentRoute.name ===
                                'signup'"
                                class="blue--text"
                        >person_add
                        </v-icon>
                        <v-icon v-else
                                :dark="!getLighting"
                                class="blue-grey--text"
                        >person_add
                        </v-icon>
                        <span v-if="$router.currentRoute.name ===
                                'signup'"
                              class="blue--text"
                        >
                            Signup
                        </span>
                        <span v-else class="blue-grey--text"
                        >
                            Signup
                        </span>
                    </v-btn>
                    <v-btn flat class="hidden-sm-and-up">
                        <v-icon v-if="$router.currentRoute.name ===
                                'signup'"
                                class="blue--text"
                        >person_add
                        </v-icon>
                        <v-icon v-else
                                :dark="!getLighting"
                                class="blue-grey--text"
                        >person_add
                        </v-icon>
                    </v-btn>
                </router-link>
                <router-link
                        :to="{name:'login'}"
                        v-if="!isAuthenticated">
                    <v-btn flat class="hidden-xs-only">
                        <v-icon v-if="$router.currentRoute.name ===
                                'login'"
                                class="blue--text"
                        >lock_open
                        </v-icon>
                        <v-icon v-else
                                :dark="!getLighting"
                                class="blue-grey--text"
                        >lock_open
                        </v-icon>
                        <span v-if="$router.currentRoute.name ===
                                'login'"
                              class="blue--text"
                        >
                            Login
                        </span>
                        <span v-else class="blue-grey--text"
                        >
                            Login
                        </span>
                    </v-btn>
                    <v-btn flat class="hidden-sm-and-up">
                        <v-icon v-if="$router.currentRoute.name ===
                                'login'"
                                class="blue--text"
                        >lock_open
                        </v-icon>
                        <v-icon v-else
                                :dark="!getLighting"
                                class="blue-grey--text"
                        >lock_open
                        </v-icon>
                    </v-btn>
                </router-link>
            </v-toolbar-items>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-icon medium
                        @click="toggleLight"
                        :color="getLighting ? 'yellow accent-3' : 'grey'"
                >
                    lightbulb_outline
                </v-icon>
                <router-link
                        :to="{name:'profile',
                        params: {userid: getUserid}}"
                        v-if="isAuthenticated"
                >
                    <v-btn icon flat>
                        <v-avatar size="36px"
                                  v-if="getUserProfile.media_url !== ''"
                                  class="elevation-0 pb-1"
                        >
                            <img :src="getUserProfile.media_url">
                        </v-avatar>
                        <v-avatar :class="badgeColor"
                                  size="36px"
                                  v-else
                        >
                            <span
                                    class="title white--text"
                            >{{
                                getUsername.slice(0, 1).toUpperCase() }}
                            </span>
                        </v-avatar>
                    </v-btn>
                </router-link>
            </v-toolbar-items>
        </v-toolbar>
        <v-flex xs12 class="mt-5">
            <v-fade-transition mode="out-in">
                <router-view></router-view>
            </v-fade-transition>
        </v-flex>
        <v-footer app
                  :dark="!getLighting"
        >
            <span :class="(!getLighting ? 'grey--text text--lighten-2' :
            'grey--text text--darken-2') + ' subheading'">
                Copyright &copy; {{ new Date().getFullYear() }}
                <v-icon>
                    mail_outline
                </v-icon>
                <a href="mailto:webmaster@catapolt.co">webmaster@catapolt.co</a>
            </span>
        </v-footer>
        <v-dialog v-model="uploadDialog"
                  transition="dialog-bottom-transition"
                  max-width="800"
                  modal
        >
            <v-flex >
                <submit @uploadCompleted="uploadDialog=false;snackbar=true"
                        @closed="uploadDialog=false"
                ></submit>
            </v-flex>
        </v-dialog>
        <v-snackbar
                :timeout="timeout"
                v-model="snackbar"
                :color="context"
                right
        >
            <span>{{ text }}</span>
            <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
    </v-app>
</template>


<script>
    import axios from 'axios'
    import store from 'vuex'
    import routes from './routes'
    import {mapGetters} from 'vuex'
    import {hashName} from "./colors"
    import Submit from "./components/Submit.vue"

    const FAKE_TIMEOUT_MS = 2000
    const PHOTO_SUBMITTED_MSG = "Photo submitted!"
    const TIMEOUT = 3000

    export default {
        components: {
            Submit
        },
        data() {
            return {
                clipped: false,
                drawer: false,
                fixed: true,
                toggleMultiple: [],
                uploadDialog:false,
                timeout: TIMEOUT,
                snackbar: false,
                context: 'success',
                mode: '',
                text: PHOTO_SUBMITTED_MSG
            }
        },
        created() {
            if (this.getGridOn) {
                this.toggleMultiple.push(0)
            }
            if (this.getLighting) {
                this.toggleMultiple.push(1)
            }
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'getAuthToken',
                'getUsername',
                'getUserid',
                'getLoading',
                'getUserCredits',
                'getVotesUnlock',
                'getLighting',
                'getGridOn',
                'getUserProfile'
            ]),
            badgeColor() {
                return `${hashName(this.getUserProfile.username)} ${String("elevation-0")}`
            },
        },
        methods: {
            toggleLight() {
                this.$store.commit('TOGGLE_LIGHT')
            },
            toggleGrid() {
                this.$store.commit('TOGGLE_GRID')
            },
            logout() {
                this.$store.dispatch('logout').then(res => {
                    this.$store.commit('USER_LOGOUT')
                    this.$store.dispatch('deleteToken')
                    this.$router.push({name: 'home'})
                }).catch(err => {
                    console.log(err)
                })
            },
        }
    }
</script>

<style lang="stylus">
    @import './stylus/main'
    a {
        text-decoration none
    }

</style>
